<div data-v-42f27458="" class="game-betting">
  <div data-v-42f27458="" class="tab">
    <div data-v-42f27458="" class="box c-row" id="game-join">
      <div data-v-42f27458="" game="1" class="item c-tc action block-click">
       
        <div data-v-42f27458="" class="img c-row c-row-center p-b-10">
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px;"><img
              src="/png/icon_clock-gerrn.png" class="van-image__img"></div>
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px; display: none;"><img
              src="/png/icon_clock-red.png" class="van-image__img"></div>
        </div>
        <div data-v-42f27458="" class="txt c-tc">5D Lotre</br>1Min</div>
      </div>
      <div data-v-42f27458="" game="3" class="item c-tc">
        
        <div data-v-42f27458="" class="img c-row c-row-center p-b-10">
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px; display: none;"><img
              src="/png/icon_clock-gerrn.png" class="van-image__img"></div>
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px;"><img
              src="/png/icon_clock-red.png" class="van-image__img"></div>
        </div>
        <div data-v-42f27458="" class="txt c-tc">5D Lotre</br>3Min</div>
      </div>
      <div data-v-42f27458="" game="5" class="item c-tc">
        
        <div data-v-42f27458="" class="img c-row c-row-center p-b-10">
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px; display: none;"><img
              src="/png/icon_clock-gerrn.png" class="van-image__img"></div>
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px;"><img
              src="/png/icon_clock-red.png" class="van-image__img"></div>
        </div>
        <div data-v-42f27458="" class="txt c-tc">5D Lotre</br>5Min</div>
      </div>
      <div data-v-42f27458="" game="10" class="item c-tc">
        
        <div data-v-42f27458="" class="img c-row c-row-center p-b-10">
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px; display: none;"><img
              src="/png/icon_clock-gerrn.png" class="van-image__img"></div>
          <div data-v-42f27458="" class="van-image" style="width: 50px; height: 50px;"><img
              src="/png/icon_clock-red.png" class="van-image__img"></div>
        </div>
        <div data-v-42f27458="" class="txt c-tc">5D Lotre</br>10Min</div>
      </div>
    </div>
  </div>
  <div data-v-42f27458="" class="content">
    <div data-v-42f27458="" class="page-box">
      <div data-v-42f27458="" class="last-round flex-row-between flex-center"><span data-v-42f27458=""> Result </span>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">A</div>
        </div>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">B</div>
        </div>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">C</div>
        </div>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">D</div>
        </div>
        <div data-v-42f27458="" class="round-num">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item">0</div>
          </div>
          <div data-v-42f27458="" class="word-index">E</div>
        </div>
        <div data-v-42f27458="" style="
            font-size: .34667rem;
            line-height: .93333rem;
            color: #a6a9ae;
        ">=</div>
        <div data-v-42f27458="" class="round-num red">
          <div data-v-42f27458="" class="num-scroll-box">
            <div data-v-42f27458="" class="fade-item" id="total_r">0</div>
          </div>
        </div>
      </div>
      <div data-v-42f27458="" class="flex-row-between period-title"><span data-v-42f27458=""> Period</span><span
          data-v-42f27458="">Time remaining</span></div>
      <div data-v-42f27458="" class="flex-row-between flex-center period-span"><span
          data-v-42f27458="" id="period">0</span>
        <div data-v-42f27458="" class="flex-row-end">
          <div data-v-42f27458="" class="li-item">0</div>
          <div data-v-42f27458="" class="li-item">0</div><span data-v-42f27458="" class="li-symbol">:</span>
          <div data-v-42f27458="" class="li-item">0</div>
          <div data-v-42f27458="" class="li-item">0</div>
        </div>
      </div>
    </div>
    <div data-v-42f27458="" style="text-align: center;">
      <div data-v-42f27458="" class="slot-inner">
        <div data-v-42f27458="" class="d5-slot-box">
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform0">
              <div data-v-42f27458="" num="1" class="slot-num">1</div>
              <div data-v-42f27458="" num="2" class="slot-num">2</div>
              <div data-v-42f27458="" num="3" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform1">
              <div data-v-42f27458="" num="1" class="slot-num">1</div>
              <div data-v-42f27458="" num="0" class="slot-num">0</div>
              <div data-v-42f27458="" num="9" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform2">
              <div data-v-42f27458="" num="4" class="slot-num">4</div>
              <div data-v-42f27458="" num="5" class="slot-num">5</div>
              <div data-v-42f27458="" num="6" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform3">
              <div data-v-42f27458="" num="6" class="slot-num">6</div>
              <div data-v-42f27458="" num="7" class="slot-num">7</div>
              <div data-v-42f27458="" num="8" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
          <div data-v-42f27458="" class="slot-column">
            <div data-v-42f27458="" class="slot-transform transform4">
              <div data-v-42f27458="" num="0" class="slot-num">0</div>
              <div data-v-42f27458="" num="1" class="slot-num">1</div>
              <div data-v-42f27458="" num="2" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
              <div data-v-42f27458="" class="slot-num">0</div>
              <div data-v-42f27458="" class="slot-num">1</div>
              <div data-v-42f27458="" class="slot-num">2</div>
              <div data-v-42f27458="" class="slot-num">3</div>
              <div data-v-42f27458="" class="slot-num">4</div>
              <div data-v-42f27458="" class="slot-num">5</div>
              <div data-v-42f27458="" class="slot-num">6</div>
              <div data-v-42f27458="" class="slot-num">7</div>
              <div data-v-42f27458="" class="slot-num">8</div>
              <div data-v-42f27458="" class="slot-num">9</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-v-42f27458="" class="bet-box minH">
      <div data-v-42f27458="" class="mark-box c-row c-row-middle-center" style="display: none;"><span data-v-42f27458=""
          class="item m-r-20">0</span><span data-v-42f27458="" class="item m-l-20">9</span>
      </div>
      <div data-v-42f27458="">
        <div data-v-42f27458="" class="flex-row-start bet-type-group a-b-c-d-e">
          <div data-v-42f27458="" data-join="a" class="d5-bet-type active">A</div>
          <div data-v-42f27458="" data-join="b" class="d5-bet-type">B</div>
          <div data-v-42f27458="" data-join="c" class="d5-bet-type">C</div>
          <div data-v-42f27458="" data-join="d" class="d5-bet-type">D</div>
          <div data-v-42f27458="" data-join="e" class="d5-bet-type">E</div>
          <div data-v-42f27458="" data-join="total" class="d5-bet-type"> SUM </div>
        </div>
        <div data-v-42f27458="">
          <div data-v-42f27458="" class="flex-row-between small-big">
            <div data-v-42f27458="" data-join="active1" join="b" class="bet-type-btn flex-row-between"> Big <span
                data-v-42f27458="">2</span>
            </div>
            <div data-v-42f27458="" data-join="active2" join="s" class="bet-type-btn flex-row-between"> Small <span
                data-v-42f27458="">2</span>
            </div>
            <div data-v-42f27458="" data-join="active3" join="l" class="bet-type-btn flex-row-between">Odd <span
                data-v-42f27458="">2</span>
            </div>
            <div data-v-42f27458="" data-join="active4" join="c" class="bet-type-btn flex-row-between"> Even <span
                data-v-42f27458="">2</span>
            </div>
          </div>
          <div data-v-42f27458="" class="c-row c-flex-warp c-row-center 0-9 select-number-0-9">
            <div data-v-42f27458="" txt="0" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">0 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="1" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">1 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="2" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">2 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="3" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">3 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="4" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">4 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="5" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">5 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="6" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">6 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="7" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">7 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="8" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">8 <div data-v-42f27458="">9</div>
              </div>
            </div>
            <div data-v-42f27458="" txt="9" class="c-row c-row-middle-center bet-num-line">
              <div data-v-42f27458="" class="bet-box-num">9 <div data-v-42f27458="">9</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .game-betting .tab .box .item .txt[data-v-42f27458] {
 color: #4a6aa2;
 font-size: .29rem !important;
 }

 .game-betting .tab .box .item[data-v-42f27458] {
 flex: 0 0 25%;
 padding: .15rem .13333rem .15667rem !important;
 border-radius: .3rem;
 position: relative;
 }

 .game-betting .tab .box .item .img[data-v-42f27458] {
 position: relative;
 display: contents;
 }

 .game-betting .tab .box .item.c-tc.action {
 background: -webkit-linear-gradient(180deg, #D9AD82 0%, #B1835A 100%) !important;
 background: linear-gradient(180deg, #D9AD82 0%, #B1835A 100%) !important;
 
 border-radius: .26667rem;
 }

 .game-betting .tab .box .item[data-v-42f27458] {
 background: #00000000 !important;
 
 box-shadow: 0 -.05333rem .16rem #00000000 inset !important;
 border-radius: .26667rem;
}

.van-notice-bar {
 margin: 0rem !important;
 width: auto !important;
}

.game-betting .tab .box[data-v-42f27458]:after {
  
  display: none;
  
}
</style>