<div data-v-42f27458="" class="game-list">
    <div data-v-42f27458="" class="tab c-row c-row-between">
      <div data-v-42f27458="" class="li c-row c-row-center block-click" id="GetNoaverageEmerdList">
        <span data-v-42f27458="" class="txt action"> Game History </span>
      </div>
      <div data-v-42f27458="" class="li c-row c-row-center" id="GetMyEmerdList">
        <span data-v-42f27458="" class="txt"> My Bets </span>
      </div>
    </div>
    <div data-v-42f27458="" class="con-boxp-b-20" style="
    width: calc(100% - 0.69333rem);
    margin: 0.48rem auto 0;
    text-align: center;
    font-size: .32rem;
    ">
      <div data-v-42f27458="" class="list m-t-10 " id="all">
        <div data-v-42f27458="" class="wrap">
          <div data-v-42f27458="" class="c-tc van-row">
            <div data-v-42f27458="" class="van-col van-col--8"> Period </div>
            <div data-v-42f27458="" class="van-col van-col--12"> Result </div>
            <div data-v-42f27458="" class="van-col van-col--4"> Total </div>
          </div>
        </div>
        <div data-v-42f27458="">
          <div data-v-42f27458="" class="hb" id="list_order">
            <!---->
          </div>
        </div>
        <div data-v-42f27458="" class="list-fooder"></div>
      </div>
      <div data-v-42f27458="" class="list m-t-10 " id="me" style="display: none;">
        <div data-v-42f27458="">
          <div data-v-42f27458="" class="hb" id="showJoinMe">
            <!---->
          </div>
        </div>
        <div data-v-42f27458="" class="list-fooder"></div>
      </div>
      <div data-v-42f27458="" class="page-nav c-row c-row-center c-tc">
        <div data-v-42f27458="" class="arr c-row c-row-middle-center block-click" id="previous"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd" d="m15 4l2 2l-6 6l6 6l-2 2l-8-8z" />
        </svg></div>
        <div data-v-42f27458="" class="number" id="number_result" data-select="all">
          <!---->
        </div>
        <div data-v-42f27458="" class="arr c-row c-row-middle-center action" id="next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5m0 0l-5-5" />
        </svg></div>
      </div>
    </div>
  </div>