<div data-v-42f27458="" class="van-popup van-popup--center supportss" style="width: 80%; border-radius: 10px; max-width: 340px;z-index: 999999!important; display: none;">
    <div data-v-42f27458="" class="rule-box">
        <div data-v-42f27458="" class="title c-row c-row-middle-center">Rules</div>
        <div data-v-42f27458="" class="info">
            <div data-v-42f27458="" class="comment">
                <div data-v-42f27458="">
                    <div data-v-42f27458="">
                        <p class="MsoNormal">
                            <font face="Times New Roman">Rules Of 5D</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">*Must Follow below Rules</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">( 1 ) Not allowed to bet on both sides (opposite bets), for example: in a lottery game, you cannot bet on Big/Small, Even/Odd...</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">( 2 ) Not allowed to bet on more than 8 numbers in the same lottery game.
                            </font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">( 3 ) If any illegal betting or contradictory betting is detected, the withdrawal request will be canceled.</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Prize Instructions</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Each game will randomly draw 5 numbers (00000-99999).</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Example:</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">
The current lottery result is 12345.</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">A=1</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">B=2</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">C=3</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">D=4</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">E=5</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Total =A+B+C+D+E=15</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">How to Play:</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Players can place bets on A, B, C, D, E, and the sum of the five results.</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">A,B,C,D,E can buy</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Numbers（0 1 2 3 4 5 6 7 8 9）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Small; （0 1 2 3 4）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Big; （5 6 7 8 9）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Odd; &nbsp;（1 3 5 7 9）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Even; （0 2 4 6 8）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">The Sum =A+B+C+D+E Can be purchased as follow.</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Small; （0-22）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Big; （23-45）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Odd; &nbsp;（1 3 ···43 45）</font>
                        </p>
                        <p class="MsoNormal">
                            <font face="Times New Roman">Even; （0 2 ···42 44）</font>
                        </p>
                    </div>
                </div>
                <div data-v-42f27458="">
                    <!---->
                </div>
                <div data-v-42f27458="">
                    <!---->
                </div>
                <div data-v-42f27458="">
                    <!---->
                </div>
            </div>
            <div data-v-42f27458="" class="rule-btn c-row m-t-20 c-row-center">
                <button data-v-42f27458="" class="submit-support btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: #F6F6F6; background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);">
                    <div data-v-42f27458="" class="van-button__content">
                        <span data-v-42f27458="" class="van-button__text">
                            <span data-v-42f27458="">I Know</span>
                        </span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>