<html lang="en_US" style="background-color: #ffffff;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BigMumbai Self-Service Center</title>
    <meta http-equiv="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


    <link rel="icon" href="/page/1/9622ff99c98be9393052f20afdf19f53.png" type="image/x-icon">


    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://www.bigmumbaics.com/assets/css/fonts/font-awesome/all.min.css">

    <!-- icomoon -->
    <link rel="stylesheet" type="text/css"
        href="https://www.bigmumbaics.com/assets/css/fonts/icomoon/style.css?v=2024062803">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css"
        href="https://www.bigmumbaics.com/assets/js/swiper-4.4.2/swiper.min.css?v=2024062803">

    <!-- mmenu -->
    <link rel="stylesheet" type="text/css" href="https://www.bigmumbaics.com/assets/css/mmenu.css?v=2024062803">

    <!-- myCenter -->
    <link rel="stylesheet" type="text/css" href="https://www.bigmumbaics.com/assets/css/style_m_6.css?v=2024062803">


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Select all elements with the class 'close'
            const closeButtons = document.querySelectorAll('.close');

            // Iterate through each close button
            closeButtons.forEach(button => {
                // Add a click event listener to each button
                button.addEventListener('click', function () {
                    // Select the element with the ID 'notice'
                    const notice = document.getElementById('notice');

                    // Check if the notice element exists
                    if (notice) {
                        // Hide the notice element
                        notice.style.display = 'none';
                    }
                });
            });
        });

    </script>
    <style>
        /*公告上方區域跟原生STYLE衝突，直接套在noticeHeader HTML上*/

        #noticeBag {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        /*活動標題色*/
        .listbox p {
            color: #C8B599;
            background: #302B27;
        }

        /*LOG 區域*/
        .header {
            background: #d9b38c;

        }

        /*全站弹窗*/
        .modal_title .modal-header {
            color: #fee563;
        }

        a.btn_detail {
            color: #0055aa;
        }

        a.btn_detail:hover {
            color: #fee563;
        }

        /*彈窗設置*/

        .popbox {
            background: #000000;

        }


        /*页签 文字颜色*/
        .tab-wrap li.active a {
            color: #d9b38c !important;
            font-size: 24px;

            font-weight: bold;

        }

        .tab-wrap li a {
            color: #000000;
            font-size: 24px;

            font-weight: bold;

        }

        /*全站输入字段提示信息-是否显示*/

        /*全站输入字段提示信息-文字颜色*/
        ::placeholder {
            color: #000000 !important;
        }

        ::-webkit-input-placeholder {
            color: #000000 !important;
        }

        ::-moz-placeholder {
            color: #000000 !important;
        }

        :-ms-input-placeholder {
            color: #000000 !important;
        }

        /*按钮設置*/

        .modal-wrap .btn {
            background: #f4d17b;
            color: #000000;
        }

        .modal-wrap .btn:hover {
            background: #f4d17b;
        }


        nav {
            background: #d9b38c;
        }

        nav a span {
            color: #ffffff;
        }

        /*查詢結果字型顏色*/
        #resultTable th {
            color: #ffffff;
            width: 30%;
        }

        #resultTable td {
            color: #ffffff;
        }

        /*主内容区域*/
        body {
            background: #ffffff;


        }

        .footer {
            text-align: center;
            padding: 15px;
        }


        /*选单方向 1=靠左 2=置中 3=靠右*/

        .tab-wrap {
            justify-content: center;
        }
    </style>
    <script src="chrome-extension://pbcpfbcibpcbfbmddogfhcijfpboeaaf/inject.js"></script>
</head>

<body class="modal-open" style="padding-right: 0px;">









    <script>
        window.onload = function () {
            var audioPromise, audio;
            audio = document.getElementById("audio");
            if (audio && !audio.error) {
                audioPromise = audio.play();
                var playAudio = function () {
                    document.getElementById("audio").play();
                    document.removeEventListener('click', playAudio);
                    document.removeEventListener('touchend', playAudio);
                };
                if (audioPromise) {
                    audioPromise.catch(function () {
                        document.addEventListener('click', playAudio);
                        document.addEventListener('touchend', playAudio);
                    });
                }
            }
            var effectAudio = document.getElementById("effectSound");
            if (effectAudio && !effectAudio.error) {
                enableAudio(document, effectAudio, true);
            }
        }
    </script>



    <div class="container with-nav" ontouchstart="">
        <div class="header">
            <a class="logo"><img src="https://www.bigmumbaics.com/page/1/6efa5b956c72bb77c35e39dde9746599.png" <=""
                    a="">


            </a><a class="kefu" href="https://direct.lc.chat/15938940/" target="_blank">
                <div class="pic">


                    <img src="https://www.bigmumbaics.com/assets/images/images_cm/kefu.png">



                </div>
                Customer Service
            </a>



        </div>










        <ul class="tab-wrap">


            <li class="active"><a href="javascript:;">All Issue</a></li>






        </ul>





        <!-- All event -->
        <div class="tab-content">
            <div class="listbox" id="listbox">
                <ul id="itemUl">
                    <li class="activities photo" groupid="0" actno="20181130003"> <a href="/support/deposit"><img
                                src="https://www.bigmumbaics.com/page/1/activity/20181130003/87aa63c5dd62e927dcdf08225a6e635f.png"
                                class=""></a></li>
                    <li class="activities photo" groupid="0" actno="20181119006"> <a href="/support/ifscupdate"><img
                                src="https://www.bigmumbaics.com/page/1/activity/20181119006/7010a4bce563d8c5bef12b1f0454b34a.png"
                                class=""></a></li>
                    <li class="activities photo" groupid="0" actno="20240106002"> <a href="/support/bankupdate"><img
                                src="https://www.bigmumbaics.com/page/1/activity/20240106002/3c0d8ad91673e0607d1db5cf9aaccaad.png"
                                class=""></a></li>
                    <li class="activities photo" groupid="0" actno="20181119005"> <a href="/support/deletebank"><img
                                src="https://www.bigmumbaics.com/page/1/activity/20181119005/580f819a673b9e2e65d45ecf22ab4050.png"
                                class=""></a></li>
                    <li class="activities photo" groupid="0" actno="20181119001"> <a href="/support/deleteoldusdt"><img
                                src="https://www.bigmumbaics.com/page/1/activity/20181119001/a666e0bda85eb1a5002a522476b5c293.png"
                                class=""></a></li>
                    <li class="activities photo" groupid="0" actno="20240106003"> <a href="/support/updateid"><img
                                src="https://www.bigmumbaics.com/page/1/activity/20240106003/17c53f0472904e7aa5419027d4e97855.png"
                                class=""></a></li>
                    <li class="activities photo" groupid="0" actno="20240106001"> <a href="/support/retriveid"><img
                                src="https://www.bigmumbaics.com/page/1/activity/20240106001/dcca387fb6ac0351dc8426d939d13b16.png"
                                class=""></a></li>
                    <li class="activities photo" groupid="0" actno="20240215001"> <a href="/support/bindgoogle"><img
                                src="https://www.bigmumbaics.com/page/1/activity/20240215001/473f5e394d572285f4c0a7cd3677db0f.png"
                                class=""></a></li>
                    <li class="activities photo" groupid="0" actno="20240331001"> <a href="/support/winstreakt"><img
                                src="https://www.bigmumbaics.com/page/1/activity/20240331001/e12ea6c7ab180a75519440b609fc4948.png"
                                class=""></a></li>
                </ul>
            </div>
        </div>

        <nav>
            <a id="inquireBtn">
                <img src="https://www.bigmumbaics.com/assets/images/images_cm/nav01.png">
                <span>Check Issue Status</span>
            </a>



        </nav>


        <!------------inquire start------------>
        <div class="inquire modal no-show" id="searchForm">
            <!-- Modal content -->
            <div class="popbox searchForm modal-wrap modal_title">
                <a class="btn-close close" id="closebtnclk"><img
                        src="https://www.bigmumbaics.com/assets/images/images_cm/close.png"></a>
                <div class="modal-header">Check Issue Status</div>
                <div class="modal-content">
                    <input class="mode-A" type="text" id="clientAccount" name="clientAccount" maxlength="22"
                        placeholder="Enter your BIGMUMBAI ID">
                    <select id="actSel" class="game_list">
                        <option value="-1">All</option>
                        <option value="20181130003">Deposit Not Receive</option>
                        <option value="20181119006">IFSC Modification</option>
                        <option value="20240106002">Bank Name Change</option>
                        <option value="20181119005">Delete Bank Account</option>
                        <option value="20181119001">Delete Old USDT Address and Rebind</option>
                        <option value="20240106003">Change ID Login Password</option>
                        <option value="20240106001">Retrieve Login ID Account</option>
                        <option value="20240215001">Delete Google Authenticator</option>
                        <option value="20240331001">WINGO 1Minute Winstreak Bonus</option>
                    </select>
                    <div class="verify-wrap" style="display: none;">
                        <input class="mode-A" type="text" id="verify" name="verify" placeholder="Please enter the code">
                        <img id="securityImg" src="https://www.bigmumbaics.com/assets/images/images_cm/vcode.png"
                            alt="Click to switch picture" class="verify-img">
                    </div>
                    <a class="btn btn-apply width-50" onclick="clickSearch()" id="searchStatus">Click to search</a>
                </div>
            </div>
        </div>
        <!-------------inquire end------------->


        <!---------inquire_detail start--------->
        <div class="inquire_detail modal no-show" id="searchDetail">
            <!-- Modal content -->
            <div class="popbox modal-wrap modal_title searchDetail">
                <a class="btn-close close" onclick="closeModal()" id="closebtnclk"><img
                        src="https://www.bigmumbaics.com/assets/images/images_cm/close.png"></a>
                <div class="modal-header">Issue Status</div>
                <div class="modal-content">
                    <table id="resultTable">
                        <tbody id="resultBody">
                            <tr>
                                <th>会员账号</th>
                                <td id="textNum">Test0001</td>
                            </tr>
                            <tr>
                                <th>申请时间</th>
                                <td>2022-03-10 11:30</td>
                            </tr>
                            <tr>
                                <th>申请状态</th>
                                <td class="red">不符合</td>
                            </tr>
                            <tr>
                                <th>查看回复</th>
                                <td>请您提供正确的会员账号</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="issue-page" class="page">
                    <div class="pagination">
                        <a onclick="renderIssueStatus(-1)" id="prev" href="#">«</a>
                        <a id="current" href="#" class="active">1</a>
                        <a onclick="renderIssueStatus(1)" id="next" href="#">»</a>
                    </div>
                </div>
            </div>
            <!---------inquire_detail end--------->

        </div>
        <div id="notice" class="modal fade no-show in" tabindex="-1" role="dialog" aria-hidden="true"
            style="display: block; padding-right: 0px;">
            <div class="modal-dialog">
                <div class="modal-content" id="noticeBag">
                    <div class="modal-header" id="noticeHeader" style="	background: #d9b38c;
	background: -moz-linear-gradient(top, #d9b38c 0%, #bf9e7c 25%, #bf9e7c 70%, #d9b38c 100%);
	background: -webkit-linear-gradient(top, #d9b38c 0%,#bf9e7c 25%,#bf9e7c 70%,#d9b38c 100%);
	background: linear-gradient(to bottom, #d9b38c 0%,#bf9e7c 25%,#bf9e7c 70%,#d9b38c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9b38c', endColorstr='#d9b38c',GradientType=0 );">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-center">Information Bulletin</h4>
                    </div>
                    <div id="msgDiv" class="modal-body content text-center unreset" style="word-break: break-all;">
                        &nbsp; &nbsp;After submitting your issue, you don't need to rush, our specialist will handle it
                        one by one! <br>
                        <br>
                        &nbsp; &nbsp;Select the issue you want to solve and fill in the information as required! And
                        click Submit application and wait our customer service specialist to handle it for you! <br>
                        <br>
                        &nbsp; &nbsp;You can click the Verify Issue Progress button and enter the ID Account then choose
                        the issue list lastly press search button the status issue will show reply by the customer
                        service department for you!
                    </div>
                </div>
            </div>
        </div>
        <script>
            var pageId = 1;
            var template = 'F';
            var isAllActivityTabShow = 'Y';
            var phoneMiddleLinkInitialRows = 1;
            var phoneActiveTitleShow = 'Y';
        </script>

        <script>
            var please_fillin_client_phone = 'Please fill in your mobile phone number';
            var please_fillin_sms_verification_code = '???please_fillin_sms_verification_code???';
            var sila_semak_nombor_telefon_bimbit = 'Failed to send, please check the mobile number';
            var all_activities = 'All';
            var select_the_requested_activity = 'Please select the issues you are applying for';
            var no_information_found = 'No member information found';
            var details = 'View Details';
            var account_input_is_inconsistent = '[Hint] 2 inconsistent account entries!';
            var please_enter_verification_code = 'Please enter the code';
            var special_characters_are_not_allowed = 'No special characters allowed';
            var only_numbers_allowed = 'Only numbers are allowed';
            var only_allow_alphanumeric = 'Only English numbers allowed';
            var the_extension_only_supports = 'Sub-name support only';
            var this_field_is_required = 'This field is required';
            var this_field_alphanumeric_is_required = 'This field English numbers is required';
            var field = 'field';
            var format_does_not_match = 'Formatting discrepancies';
            var the_number_of_words_must_be_between = 'The word count needs to be between';
            var between = "???between???";
            var please_enter_the_query_account_number_and_verification_code = 'Please enter your BIGMUMBAI ID and choose the Issue to search';
            var promotion_application_has_been_sent = 'Issue have been submitted';
            var enter = 'Enter';
            var confirm_the_account = 'Confirm';
            var member_account = 'Account';
            var application_time = 'Submit Time';
            var application_status = 'Status';
            var activity_item = 'Issue';
            var view_reply = 'Result';
            var activity_jackpot = 'Campaign bonuses';
            var the_system_is_busy_please_try_again_later = 'The system is busy, please try again later !';
            var please_select_an_event = 'Please select an event';
            var congratulations = 'Congratulations';
            var successfully_handled = 'Successful handling';
            var i18n_suggestions = 'Suggestions';
            var suggestions_no = '13775129650';
            var application_status_i18n = [];
            application_status_i18n[1] = 'Pending review';
            application_status_i18n[2] = 'Pass - Not added';
            application_status_i18n[3] = 'Pass - Added';
            application_status_i18n[4] = 'Pass - Error';
            application_status_i18n[5] = 'Reject';
            application_status_i18n[6] = 'Pending review';
            application_status_i18n[7] = 'Pending review - Error';
            application_status_i18n[8] = 'Pending review - Manual processing';
            application_status_i18n[9] = 'Pass - Succes';
        </script>




        <script>
            var isTest = true;
            var fntWebContext = "";
            var isInBlackList = false;
            var pageStatus = '1';
            var isOpenCopyPaste = 'N';
            var isEnterTwiceAccount = 'N';
        </script>



        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Select the element with the ID 'inquireBtn'
                const inquireBtn = document.getElementById('inquireBtn');

                // Check if the inquireBtn exists
                if (inquireBtn) {
                    // Add a click event listener to the inquireBtn
                    inquireBtn.addEventListener('click', function () {
                        // Select the element with the ID 'searchForm'
                        const searchForm = document.getElementById('searchForm');

                        // Check if the searchForm element exists
                        if (searchForm) {
                            // Make the searchForm element visible
                            searchForm.style.display = 'block'; // or 'inline' or 'inline-block' depending on your requirement
                        }
                    });
                }
            });

        </script>
        <script>


        </script>




        <!-- <script type="text/javascript" src="/assets/js/jquery-3.3.1.js"></script> -->
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                // Select the element with the ID 'inquireBtn'
                const inquireBtn = document.getElementById('closebtnclk');

                // Check if the inquireBtn exists
                if (inquireBtn) {
                    // Add a click event listener to the inquireBtn
                    inquireBtn.addEventListener('click', function () {
                        // Select the element with the ID 'searchForm'
                        const searchForm = document.getElementById('searchForm');

                        // Check if the searchForm element exists
                        if (searchForm) {
                            // Make the searchForm element visible
                            searchForm.style.display = 'none'; // or 'inline' or 'inline-block' depending on your requirement
                        }
                    });
                }
            });
            var issueStatusData = [], curIssueStatusIndex = 0;

            function closeModal() {
                document.getElementById('searchForm').style.display = 'none';
                document.getElementById('searchDetail').style.display = 'none';
            }

            function renderIssueStatus(move = 0) {
                curIssueStatusIndex += move
                if (curIssueStatusIndex < 0) curIssueStatusIndex = 0
                if (curIssueStatusIndex >= issueStatusData.length) curIssueStatusIndex = issueStatusData.length - 1
                const data = issueStatusData[curIssueStatusIndex]

                var resultBody = document.getElementById('resultBody');
                resultBody.innerHTML = '';
                var tr = document.createElement('tr');
                var th = document.createElement('th');
                th.innerText = 'Account';
                tr.appendChild(th);
                var td = document.createElement('td');
                td.innerText = data.member_id;
                tr.appendChild(td);
                resultBody.appendChild(tr);

                tr = document.createElement('tr');
                th = document.createElement('th');
                th.innerText = 'Submit Time';
                tr.appendChild(th);
                td = document.createElement('td');
                td.innerText = data.time;
                tr.appendChild(td);
                resultBody.appendChild(tr);

                tr = document.createElement('tr');
                th = document.createElement('th');
                th.innerText = 'Status';
                tr.appendChild(th);
                td = document.createElement('td');
                td.innerText = data.admin_msg == "" ? 'Pending review' : 'Replied';
                tr.appendChild(td);
                resultBody.appendChild(tr);

                resMessage = JSON.parse(data.message);
                let keys = Object.keys(resMessage);

                tr = document.createElement('tr');
                th = document.createElement('th');
                th.innerText = 'Issue';
                tr.appendChild(th);
                td = document.createElement('td');
                td.innerText = keys[1].toUpperCase();
                tr.appendChild(td);
                resultBody.appendChild(tr);

                tr = document.createElement('tr');
                th = document.createElement('th');
                th.innerText = 'Result';
                tr.appendChild(th);
                td = document.createElement('td');
                td.innerText = data.admin_msg;
                tr.appendChild(td);
                resultBody.appendChild(tr);
                document.getElementById('searchDetail').style.display = 'block';

                document.getElementById('issue-page').style.display = issueStatusData.length > 1 ? 'block' : 'none'
                document.getElementById('current').innerHTML = curIssueStatusIndex + 1;
                if (curIssueStatusIndex == 0) {
                    document.getElementById('prev').style.opacity = 0;
                } else {
                    document.getElementById('prev').style.opacity = 1;
                }
                if (curIssueStatusIndex == issueStatusData.length - 1) {
                    document.getElementById('next').style.opacity = 0;
                } else {
                    document.getElementById('next').style.opacity = 1;
                }
            }
            function clickSearch() {
                var clientAccount = document.getElementById('clientAccount').value;
                var actSel = document.getElementById('actSel').value;

                if (clientAccount == '') {
                    alert('Please fill in your BIGMUMBAI ID');
                    return;
                }

                fetch('/api/webapi/support/check-status', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        clientAccount: clientAccount,
                        actSel: actSel
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.status == true) {
                            issueStatusData = data.data;
                            curIssueStatusIndex = 0;
                            renderIssueStatus();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }

            ActivityItem.fInit();
            var mySwiper = new Swiper(".swiper-container", {
                slidesPerView: 1,
                loop: true,  // 循環
                autoplay: {
                    elay: 2500,
                    disableOnInteraction: false
                },
                // Navigation arrows
                //navigation: {
                //nextEl: '.swiper-button-next',
                //prevEl: '.swiper-button-prev'
                //},
                // Pagination
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                1024: {
                    slidesPerView: 1,
                    spaceBetween: 0
                },
                768: {
                    slidesPerView: 1,
                    spaceBetween: 0
                },
                640: {
                    slidesPerView: 1,
                    spaceBetween: 0
                },
                320: {
                    slidesPerView: 1,
                    spaceBetween: 0
                }
            });

            $(function () {
                $('.promotions-ul ').on('click', 'li', function () {
                    $(this).addClass('promotions-ulClick').siblings().removeClass('promotions-ulClick')

                })

            })

            $(function () {
                var $menu = $('#menu'), $html = $('html, body');
                $menu.mmenu({ dragOpen: true });
            });
            var isFunctionMenuShow = false
            $(document).ready(function () {

                var x = 1.9 * phoneMiddleLinkInitialRows;
                $('.auto_height').css('height', x + 'rem');
                if ($('#extension').find('a').length > (4 * phoneMiddleLinkInitialRows)) {
                    $('.unfold').css('display', 'flex');
                }
                $('.unfold').click(function () {
                    isFunctionMenuShow = !isFunctionMenuShow
                    if (isFunctionMenuShow) {
                        $('.auto_height').css({ height: 'auto' })
                        $(this).find('span').text('put away')
                        $(this).find('img').css({ transform: 'rotate(180deg)' })
                    } else {
                        $('.auto_height').css({ height: x + 'rem' })
                        $(this).find('span').text('deploy')
                        $(this).find('img').css({ transform: 'rotate(0deg)' })
                    }
                })
            })

            var tabSwitch = '2';
            if (tabSwitch == '1') {
                switch ('2') {
                    case '2':
                        $('.foot').addClass('two-tabs');
                        break;
                    case '3':
                        $('.foot').addClass('three-tabs');
                        break;
                    case '4':
                        $('.foot').addClass('four-tabs');
                        break;
                }
            }

        </script>

    </div><amino-inspect></amino-inspect>
    <div class="modal-backdrop fade in"></div>
</body><chatgpt-sidebar data-gpts-theme="light"></chatgpt-sidebar><chatgpt-sidebar-popups
    data-gpts-theme="light"></chatgpt-sidebar-popups>

</html>