<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="https://funds.bigmumbaics.com/index.css">	
   <link rel="shortcut icon" type="image/x-icon" href="https://funds.bigmumbaics.com/img/biglogo1.ico">
<title>BIGMUMBAI</title>
<script src="chrome-extension://pbcpfbcibpcbfbmddogfhcijfpboeaaf/inject.js"></script></head>

<body style="">
   <div class="zong">
       
       <div class="top">
           <table width="100%">
               <tbody><tr>
                   <td align="left">
                       <img src="https://funds.bigmumbaics.com/img/biglogo.png" alt="image" style="max-width:100%;overflow:hidden;">
                   </td>
                   <td align="right">
                       <a href="/index-ydy.html"><input type="button" class="yzan" value="हिंदी"></a>
                       <a href="/index.html"><input type="button" class="yzan" value="English"></a>
                   </td>
               </tr>
           </tbody></table>
       </div>
       
       <div align="center">
           
           <div class="dbiaoti">
               <b>यदि निकासी आदेश सफल है लेकिन अभी तक कोई पैसा प्राप्त नहीं हुआ है</b>
           </div>
           
           <div class="kuang" align="center">
               <br>
               यदि BIGMUMBAI में आपकी निकासी की स्थिति सफल में बदल जाती है और पैसा <u>72 घंटों (3 बैंकिंग दिनों)</u> के भीतर प्राप्त नहीं होता है, तो निकासी की तारीख से लेकर अब तक का एक पीडीएफ बैंक विवरण BIGMUMBAI ईमेल के माध्यम से भेजें: <a href="mailto:bigmumbaiwithdraw@gmail.com">bigmumbaiwithdraw@gmail.com</a>
               <br><br>	
               
               <font color="#FFFFFF" size="+2"><b>भेजने का प्रारूप:</b></font><br>
               शीर्षक: (BIGMUMBAI आईडी)<br>
               सामग्री:<br>
               1. निकासी आदेश क्रमांक प्राप्त नहीं होना<br>
               2.पीडीएफ बैंक विवरण निकासी तिथि से शुरू होकर वर्तमान समय तक।<br><br>
           </div>
           
           <br>
           
           <div class="kuang"><br>
               <font color="#FFFFFF" size="+2"><b>अनुस्मारक:</b></font><br>
               ईमेल <a href="mailto:bigmumbaiwithdraw@gmail.com">bigmumbaiwithdraw@gmail.com</a> के लिए, हम केवल निकासी की सफलता में आपकी सहायता करेंगे लेकिन अभी तक पैसा नहीं मिला है। कृपया ध्यान रखें कि निकासी की सफलता के अलावा कोई अन्य सबमिशन जो अभी तक प्राप्त नहीं हुआ है, उस पर विचार नहीं किया जाएगा। यदि आपको जमा राशि प्राप्त नहीं हुई है, बैंक खाता समस्या है, निकासी अस्वीकृत है, यूएसडीटी, या BIGMUMBAI खाता समस्या है, तो इसे हल करने के लिए कृपया इसे <a href="https://www.bigmumbaics.com/wap/indexF.jsp" target="_blank">https://www.bigmumbaics.com</a> पर सबमिट करें। यदि आपको कोई अन्य समस्या है, तो आप स्वयं-सेवा अनुभाग BIGMUMBAI से ""अन्य समस्याएं" का चयन करके लाइवचैट के माध्यम से हमारे ग्राहक सहायता से संपर्क कर सकते हैं।<br><br>
           </div>
           
       </div>
       
   </div>


<amino-inspect></amino-inspect></body><chatgpt-sidebar data-gpts-theme="light"></chatgpt-sidebar><chatgpt-sidebar-popups data-gpts-theme="light"></chatgpt-sidebar-popups></html>