<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="https://withdraw.bigmumbaics.com/index.css">
   <link rel="shortcut icon" type="image/x-icon" href="https://withdraw.bigmumbaics.com/img/biglogo1.ico">
<title>BIGMUMBAI</title>
<script src="chrome-extension://pbcpfbcibpcbfbmddogfhcijfpboeaaf/inject.js"></script></head>

<body style="background-color: rgb(201, 201, 201);">
   
   <div class="zong">
       
       <div class="top">
           <iframe scrolling="auto" src="https://withdraw.bigmumbaics.com/next/top.html" name="demo" width="99.5%" height="99%" iframeborder="0"></iframe>
       </div>
       
       <div class="cen">
           
           <div class="kuang">
               <a href="./index.html" class="a"><input type="button" value="HOME" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/How To Withdraw Money.html" class="a"><input type="button" value="How To Withdraw Money" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/Gift Codes.html" class="a"><input type="button" value="Remark:Gift Codes" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/Bank Inactive.html" class="a"><input type="button" value="Remark:Bank Inactive" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/Fail Become Agent.html" class="a"><input type="button" value="Remark:Fail Become Agent" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/Bank Data Error.html" class="a"><input type="button" value="Remark:Bank Data Error" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/Bank Error.html" class="a"><input type="button" value="Remark:Bank Error" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/IFSC Code Incorrect.html" class="a"><input type="button" value="Remark:IFSC Code Incorrect" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/Bank Limit.html" class="a"><input type="button" value="Remark:Bank Limit" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/Maintenance Bank.html" class="a"><input type="button" value="Remark:Maintenance Bank" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/Use ARWALLET Withdraw.html" class="a"><input type="button" value="Use ARWALLET Withdraw" class="button"></a>
           </div>
           
           <div class="kuang">
               <a href="./next/Other Problem.html" class="a"><input type="button" value="Other Problem" class="button"></a>
           </div>
           
       </div>
       
       <div align="center">
           
           <div class="main">
           
           <font class="biaoti1">How To Check My Withdrawal</font>
           
           <div class="kuang1">
               <br>
               To inquire about your withdrawal issues, please first check your withdrawal status in your withdrawal list! Query and solve your problem based on your withdrawal status!<br><br>
               
               <img src="https://withdraw.bigmumbaics.com/img/Check My Withdrawalpc1.png" alt="image" style="max-width:100%;overflow:hidden;"><br><br>
               
               BIGMUMBAI will display three statuses in the withdrawal record<br>
               1. Processing: This status need you to wait patiently, each payment need to submit to the bank for processing, and the status mean already submitted to the bank for processing, if the payment status not updated more than 3 hours, that mean the payment still on processing at the bank and need to wait till the bank giving the result, please wait patiently till the status change.<br>
               2. Successful: For this status mean the payment you submitted, we already transferred the amount to the bank account you bound, due to bank payment reasons, some orders are often delay in arriving, if you not received the amount 24 hours after the status changing to successful, please contact customer service and provide bank statement PDF details for our customer service assistant<br>
               3. Rejected: For this status mean the withdrawal you apply is failed, please see the remark or note to see the reason of your withdrawal rejected and solve it according the remark or note show<br><br>
               
               <img src="https://withdraw.bigmumbaics.com/img/Check My Withdrawalpc2.png" alt="image" style="max-width:100%;overflow:hidden;"><br><br>
               
           </div>
       </div>
   
       </div>
       
       <br>
       
   
   </div>
   


<amino-inspect></amino-inspect></body><chatgpt-sidebar data-gpts-theme="light"></chatgpt-sidebar><chatgpt-sidebar-popups data-gpts-theme="light"></chatgpt-sidebar-popups></html>