<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bet List</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0" style="display: block; overflow-y: hidden;">
            <table class="table table-striped projects" id="table1">
                <thead>
                    <tr>
                        <th class="text-center">Stage</th>
                        <th class="text-center">Amount Of Money</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Time</th>
                    </tr>
                </thead>
                <tbody id="list-bet">
                     
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example" style="margin-top: 20px; display: flex; justify-content: center">
            <ul class="pagination table1">
                <li class="page-item previous" id="previousBet">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <div id="numbers" style="display: flex">
                    <li class="page-item">
                        <a class="page-link active text-white" id="text-bet">1</a>
                    </li>
                </div>
                <li class="page-item next" id="nextBet">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>