<div data-v-03b808c2="" class="game-betting">
    <div data-v-03b808c2="" class="tab">
        <div data-v-03b808c2="" class="box c-row game-minutes">
            <div data="1" data-v-03b808c2="" class="item c-tc action">
                
                <div data="1" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px;">
                        <img src="/png/icon_clock-gerrn.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px; display: none;">
                        <img src="/png/icon_clock-red.png" class="van-image__img">
                    </div>
                    
                </div>
                <div data="1" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>1Min</div>
            </div>
            <div data="3" data-v-03b808c2="" class="item c-tc">
                
                <div data="3" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                        <img src="/png/icon_clock-gerrn.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                        <img src="/png/icon_clock-red.png" class="van-image__img">
                    </div>
                   
                </div>
                <div data="3" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>3Min</div>
            </div>
            <div data="5" data-v-03b808c2="" class="item c-tc">
                
                <div data="5" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                        <img src="/png/icon_clock-gerrn.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                        <img src="/png/icon_clock-red.png" class="van-image__img">
                    </div>
                    
                </div>
                <div data="5" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>5Min</div>
            </div>
            <div data="10" data-v-03b808c2="" class="item c-tc">
                
                <div data="10" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                        <img src="/png/icon_clock-gerrn.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                        <img src="/png/icon_clock-red.png" class="van-image__img">
                    </div>
                    
                </div>
                <div data="10" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>10Min</div>
            </div>
        </div>
    </div>
    <div data-v-03b808c2="" class="content">
        <div data-v-03b808c2="" class="page-box">
            <div data-v-03b808c2="" class="flex-row-between period-title"><span data-v-03b808c2=""> Lottery Period</span><span
                    data-v-03b808c2=""> Time Left</span></div>
            <div data-v-03b808c2="" class="flex-row-between flex-center period-span"><span
                    data-v-03b808c2="" id="period"></span>
                <div data-v-03b808c2="" class="flex-row-end">
                    <div data-v-03b808c2="" class="li-item">0</div>
                    <div data-v-03b808c2="" class="li-item">0</div><span data-v-03b808c2="" class="li-symbol">:</span>
                    <div data-v-03b808c2="" class="li-item">4</div>
                    <div data-v-03b808c2="" class="li-item">4</div>
                </div> 
            </div>
        </div>
        <div data-v-03b808c2="" style="text-align: center;">
            <div data-v-03b808c2="" class="slot-inner">
                <div data-v-03b808c2="" class="d5-slot-box">
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg5"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg6"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-03b808c2="" class="bet-box">
            <div data-v-03b808c2="" class="bet-mark">
                <div data-v-03b808c2="" class="mark-box c-row c-row-middle-center" style="display: none;">
                    <span data-v-03b808c2="" class="item m-r-20">0</span>
                    <span data-v-03b808c2="" class="item m-l-20">0</span>
                </div><br>
                <div data-v-03b808c2="" class="bet-tab">
                <ul data-v-03b808c2="" class="c-row c-row-between">
                    <li data-v-03b808c2="" game="1" class="item action block-click">Total</li>
                    <li data-v-03b808c2="" game="2" class=" item">2 Same</li>
                    <li data-v-03b808c2="" game="3" class=" item">3 Same</li>
                    <li data-v-03b808c2="" game="4" class=" item">Different</li>
                </ul>
                </div>
                <div data-v-03b808c2="" game="1" class="bet-con">
                    <div data-v-03b808c2="" class="check-box c-row c-flex-warp c-row-between list-join-total">
                        <div data-v-03b808c2="" class="item">
                            
                            <div data-v-03b808c2="" class="li" data="3" data-join="3">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">207.36X </span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="4" data-join="4">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n4-cb84933b.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">69.12X </span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="5">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n5-49d0e9c5.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">34.56X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="6">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n6-a56e0b9a.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">20.74X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="7">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n7-5961a17f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">13.83X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="8">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n8-d4d951a4.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">9.88X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="9">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n9-a20f6f42.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">8.3X</span></div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="10">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">7.68X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="11">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">7.68X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="12" data-join="12">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">8.3X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="13" data-join="13">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">9.88X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="14" data-join="14">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">13.83X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="15" data-join="15">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">20.74X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="16" data-join="16">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">34.56X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="17" data-join="17">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">69.12X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="18" data-join="18">
                                <img  class="k3img" src="https://mumbaibig.com/assets/png/n3-f92c313f.png">
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">207.36X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="b" data-join="Big" style="height: 1.17333rem;
                            background-color: #FEAA57 ! IMPORTANT;
                            color: #fff;
                            MARGIN-TOP: 5PX;">
                                <div data-v-03b808c2="" class="name">Big</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="s" data-join="Small" style="height: 1.17333rem;
                            background-color: #6EA8F4 ! IMPORTANT;
                            color: #fff;
                            MARGIN-TOP: 5PX;">
                                <div data-v-03b808c2="" class="name">Small</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="l" data-join="Odd" style="height: 1.17333rem;
                            background-color: #FB5B5B ! IMPORTANT;
                            color: #fff;
                            MARGIN-TOP: 5PX;">
                                <div data-v-03b808c2="" class="name">Odd</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="c" data-join="Even" style="height: 1.17333rem;
                            background-color: #18B660 ! IMPORTANT;
                            color: #fff;
                            MARGIN-TOP: 5PX;">
                                <div data-v-03b808c2="" class="name">Even</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-03b808c2="" game="2" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 2 suitable numbers： <span data-v-03b808c2="">13.83</span></div>
                    <div data-v-03b808c2="" data="chon-2-so-phu-hop" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" game="2_1" data="11" class="item">
                            <!---->
                            <div data-v-03b808c2="">11</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="22" class="item">
                            <!---->
                            <div data-v-03b808c2="">22</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="33" class="item">
                            <!---->
                            <div data-v-03b808c2="">33</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="44" class="item">
                            <!---->
                            <div data-v-03b808c2="">44</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="55" class="item">
                            <!---->
                            <div data-v-03b808c2="">55</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="66" class="item">
                            <!---->
                            <div data-v-03b808c2="">66</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">If the lottery result matches 2 numbers you bet, you will win the prize. (Except for three identical numbers).</div>
                    <div data-v-03b808c2="" class="title">Choose a unique pair of numbers： <span data-v-03b808c2="">69.12</span></div>
                    <div data-v-03b808c2="" hang="1" data="Select 1 unique pair" class="num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="11" number="1" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">11</div>
                        </div>
                        <div data-v-03b808c2="" data="22" number="2" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">22</div>
                        </div>
                        <div data-v-03b808c2="" data="33" number="3" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">33</div>
                        </div>
                        <div data-v-03b808c2="" data="44" number="4" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">44</div>
                        </div>
                        <div data-v-03b808c2="" data="55" number="5" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">55</div>
                        </div>
                        <div data-v-03b808c2="" data="66" number="6" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">66</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" hang="2" data="chon-1-cap-duy-nhat" class="num-box green c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" number="1" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" number="2" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" number="3" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" number="4" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" number="5" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" number="6" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*Select at least 1 pair of identical numbers and 1 different number to place a bet. If the lottery result matches the numbers you bet, you will win the prize.</div>
                </div>
                <div data-v-03b808c2="" game="3" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 3 unique numbers：odds <span data-v-03b808c2="">207.36</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="111" class="item">
                            <!---->
                            <div data-v-03b808c2="">111</div>
                        </div>
                        <div data-v-03b808c2="" data="222" class="item">
                            <!---->
                            <div data-v-03b808c2="">222</div>
                        </div>
                        <div data-v-03b808c2="" data="333" class="item">
                            <!---->
                            <div data-v-03b808c2="">333</div>
                        </div>
                        <div data-v-03b808c2="" data="444" class="item">
                            <!---->
                            <div data-v-03b808c2="">444</div>
                        </div>
                        <div data-v-03b808c2="" data="555" class="item">
                            <!---->
                            <div data-v-03b808c2="">555</div>
                        </div>
                        <div data-v-03b808c2="" data="666" class="item">
                            <!---->
                            <div data-v-03b808c2="">666</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">* If the lottery result matches the 3 numbers you bet, you will win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 3 identical numbers:  <span data-v-03b808c2="">34.56</span></div>
                    <div data-v-03b808c2="" class="chon-3-so-giong-nhau num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" class="li">
                            <!---->
                            <div data-v-03b808c2="">Choose 3 identical numbers</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*If the winning numbers are any three identical numbers, you will win the prize.</div>
                </div>
                <div data-v-03b808c2="" game="4" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 3 different numbers: <span data-v-03b808c2="">34.56</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">Choose 3 or more numbers. If the three numbers in the lottery result are different and match the numbers you've chosen, then you win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 3 consecutive numbers:  <span data-v-03b808c2="">8.64</span></div>
                    <div data-v-03b808c2="" class="chon-3-so-lien-tiep num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" class="li">
                            <!---->
                            <div data-v-03b808c2="">Choose 3 consecutive numbers.</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*If the winning numbers are any three consecutive numbers, then you win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 2 different numbers: Odd<span data-v-03b808c2="">6.91</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*Choose 2 or more numbers, if two numbers in the lottery result are different and match the numbers you've chosen, then you win the prize.</div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .game-betting .tab .box .item .txt[data-v-03b808c2] {
   color: #4a6aa2;
   font-size: .29rem !important;
   }

   .game-betting .tab .box .item[data-v-03b808c2] {
   flex: 0 0 25%;
   padding: .15rem .13333rem .15667rem !important;
   border-radius: .3rem;
   position: relative;
   }

   .game-betting .tab .box .item .img[data-v-03b808c2] {
   position: relative;
   display: contents;
   }

   .game-betting .tab .box .item.c-tc.action {
   background: -webkit-linear-gradient(180deg, #D9AD82 0%, #B1835A 100%) !important;
   background: linear-gradient(180deg, #D9AD82 0%, #B1835A 100%) !important;
   box-shadow:0px !important;
   border-radius: .26667rem;
   color: #fff;
   }

   .game-betting .tab .box .item[data-v-03b808c2] {
   background: #00000000 !important;
   
   box-shadow: 0 -.05333rem .16rem #00000000 inset !important;
   border-radius: .26667rem;
}

.van-notice-bar {
   margin: 0rem !important;
   width: auto !important;
}

.game-betting .tab .box[data-v-03b808c2]:after {
    
    display: none;
    
}
</style>