<div data-v-03b808c2="" class="game-list p-b-20">
    <div data-v-03b808c2="" class="tab c-row c-row-between">
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt action block-click" id="history"> Game History </span>
        </div>
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt" > Chart </span>
        </div>
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt" id="myBet"> My Bet</span>
        </div>
    </div>
    <div data-v-03b808c2="" class="con-box" style="
    width: calc(100% - 0.69333rem);
    margin: 0.48rem auto 0;
    text-align: center;
    font-size: .32rem;
    ">
        <div data-v-03b808c2="" class="list m-t-10">
            <div data-v-03b808c2="" class="wrap header-history">
                <div data-v-03b808c2="" class="c-tc van-row">
                    <div data-v-03b808c2="" class="van-col van-col--6"> Period</div>
                    <div data-v-03b808c2="" class="van-col van-col--4"> Sum </div>
                    <div data-v-03b808c2="" class="van-col van-col--5">  </div><!--Big/Small-->
                    <div data-v-03b808c2="" class="van-col van-col--4">  </div><!--Odd/Even-->
                    <div data-v-03b808c2="" class="van-col van-col--5"> Results </div>
                </div>
            </div>
            <div data-v-03b808c2="">
                <div data-v-03b808c2="" class="hb" id="list_order">
                    <!---->
                </div>
                <div data-v-03b808c2="" class="hb" id="list_mybet">
                    <!---->
                </div>
            </div>
            <div data-v-03b808c2="" class="list-fooder"></div>
        </div>
        <div data-v-03b808c2="" class="page-nav c-row c-row-center c-tc">
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center block-click" id="previous">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor" fill-rule="evenodd" d="m15 4l2 2l-6 6l6 6l-2 2l-8-8z" />
                </svg>
            </div>
            <div data-v-03b808c2="" class="number" id="number_result" data-select="all">1/1</div>
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center action" id="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5m0 0l-5-5" />
                </svg>
            </div>
        </div>
    </div>
    <div data-v-03b808c2="" class="con-box p-b-20" style="display: none;">
        <div data-v-03b808c2="" class="c-row c-flew-end p-r-20">
            <div data-v-03b808c2="" class="bettingMore c-tc c-row c-row-middle-center">
                Hơn
                <i data-v-03b808c2="" class="van-icon van-icon-arrow" style="color: rgb(84, 94, 104); font-size: 15px;"></i>
            </div>
        </div>
        <div data-v-03b808c2="" class="list m-t-10">
            <div data-v-03b808c2="" class="p-t-5 p-b-5">
                <div data-v-03b808c2="" class="van-empty">
                    <div class="van-empty__image"><img src="/images/empty-image-default.png"></div>
                    <p class="van-empty__description">No data</p>
                </div>
            </div>
            <div data-v-03b808c2="" class="list-fooder"></div>
        </div>

    </div>
</div>