<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>BigMumbai</title>
  <script src="/js/block.js"></script>
  <link rel="stylesheet" href="/5d/css/chunk3.css" />
  <link rel="stylesheet" href="/5d/css/main.css" />
  <link rel="stylesheet" href="/5d/css/chunk1.css" />
  <link rel="stylesheet" href="/5d/css/chunk2.css" />
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #9195A3;
      padding: 0;
      margin: 0;
    }

    .slot-column {
      margin-right: 0 !important;
    }

    .block-click {
      pointer-events: none;
    }

    #result {
      display: none;
    }

    .display-none {
      display: none;
    }
    .Wallet__C-balance-l2>div[data-v-a3fd9a0b] {
    padding-left: .66667rem;
    background-image: url(/assets/svg/wallet-6d53ac8d.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: .53333rem;
    color: #1E2637 !important;
}.Wallet__C-balance-l1[data-v-a3fd9a0b] {
    min-height: .58667rem;
    line-height: .58667rem;
    text-align: left;
    font-weight: 700;
    font-size: .48rem;
    color: #1E2637 !important;
    overflow: hidden;
}.Wallet__C-balance[data-v-a3fd9a0b] {
    min-height: 3.57333rem;
    background: #fff !important;
    border-radius: .26667rem;
    padding: .46667rem;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    display: grid;
    justify-items: center;
}.Wallet__C-balance-l3>div[data-v-a3fd9a0b] {
    width: 3.46667rem;
    height: .93333rem;
    line-height: .93333rem;
    background: #FB5B5B;
    border-radius: 50px;
    font-weight: 600;
    font-size: .4rem;
    color: #fff;
    text-align: center;
    margin-right: 30px;
}.Wallet__C-balance-l3>div[data-v-a3fd9a0b] {
    width: 3.46667rem;
    height: .93333rem;
    line-height: .93333rem;
    background: #FB5B5B !important;
    border-radius: 50px !important;
    font-weight: 600;
    font-size: .4rem;
    color: #fff;
    text-align: center;
}.Wallet__C-balance-l2>div[data-v-a3fd9a0b] {
    padding-left: .66667rem;
    background-image: url(https://mumbaibig.com/assets/png/wallet-3f0340b6.png) !important;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: .53333rem;
    font-size: 15px !important;
}
.bet-box .bet-type-btn[data-v-42f27458] {
    line-height: .93333rem;
    margin-bottom: 0.4rem;
    width: calc((100% - 1.36rem) / 4);
    height: 100%;
    background: linear-gradient(90deg, #CCCEDC 15.38%, #CDCFDD 98.73%);
    color: #fff;
    border-radius: 0.13333rem;
    padding: 0 0.16rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
  </style>
</head>

<body style="font-size: 12px;">
  <div id="app">
    <div data-v-42f27458="" class="mian game">
      <div data-v-106b99c8="" data-v-42f27458="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick='location.href="/home"'>
          <div data-v-42f27458="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-42f27458="" data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back">
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-42f27458="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-42f27458="" data-v-106b99c8="" src="/index_files/h5setting_202401100608011fs2.png" class="logo"
              style="width: 2.98667rem;height: 1.12rem;background-repeat: no-repeat;background-size: 2.98667rem 1.12rem;background-position: center;">
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-42f27458="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-42f27458="" data-v-106b99c8="" class="c-row item c-row-middle-center"
              onclick="location.href='/keFuMenu'">
              <img data-v-42f27458="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio">
            </div>
            <div data-v-42f27458="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-42f27458="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume">
            </div>
          </div>
        </div>
      </div>
      <%- include('element/info.ejs') -%>
        <%- include('element/content.ejs') -%>
          <%- include('element/list_order.ejs') -%>
            <%- include('element/alert.ejs') -%>
              <!---->
              <div data-v-7692a079="" data-v-42f27458="" class="Loading c-row c-row-middle-center">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                  <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                    style="-webkit-animation-duration: 1s; animation-duration: 1s;">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet"
                      style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                      <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)"
                        style="display: block;">
                        <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice"
                          xlink:href="/index_files/loadingspinner.png"></image>
                      </g>
                      <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)"
                        style="display: block;">
                        <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice"
                          xlink:href="/index_files/h5setting_202401100608011fs2.png"></image>
                      </g>
                    </svg>
                  </span>
                </div>
              </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
      integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
      crossorigin="anonymous"></script>
    <script src="/5d/js/main.js"></script>
</body>

</html>