<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" style="font-size: 40.5px;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <meta name="google" content="notranslate">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>BigMumbai</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="../index_files/modules-96c1e775.css">
  <link rel="stylesheet" href="../index_files/page-activity-d48e62db.css">
  <link rel="stylesheet" href="../index_files/index-96409872.css">
  <link rel="stylesheet" href="../index_files/page-home-58543d87.css">


  <link rel="stylesheet" href="../assets/css/_vite_template-88676b31.css">
  <link rel="stylesheet" href="../assets/css/index-3cf8aaa6.css"> 
  <link rel="stylesheet" href="../assets/css/index-8d0b9742.css"> 
  <link rel="stylesheet" href="../assets/css/index-d27f4bf1.css">   
  <link rel="stylesheet" href="../assets/css/NavBar-c40aa6d4.css"> 
  <link rel="stylesheet" href="../assets/css/index-dc81589f.css">
  
  <style>

.fun-tabs {
    
    background: #22275b !important;
}
.fun-tabs {
    overflow: auto !important;
    position: relative;
    margin-top: 0.5rem;
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
div#lottery {
  margin-top: 0.5rem;
    padding: 0.3rem;
}
.luckyWinners__container {
    padding: 0.4rem !important;
}
.dailyProfitRank {
    padding: 0.3rem;
}
.terms {
    padding: 0.5rem !important;
}
.settingPanel__container.panel-daman {
    padding: 0.5rem !important;
}

.tab_item {
    background: #2b3270;
}

.onlineGames__container[data-v-6dbd07ea] .tabs .tab_item {
    
    height: 1.53333rem !important;
    
}
.settingPanel__container-items {
    margin-bottom: 3.5rem;
}



  </style>

</head>
<!-- Dialog HTML -->


<body style="font-size: 12px;" class="">
  
  <div id="app" data-v-app="">
    
    <!---->
    <div data-v-6dbd07ea="" class="onlineGames__container" style="--f817f0ee: 'Roboto', 'Inter', sans-serif;">
      <div data-v-58c5e826="" data-v-9bebd08e="" class="navbar">
        <div data-v-58c5e826="" class="navbar-fixed" style="background: rgb(43 50 112);">
          <div data-v-58c5e826="" class="navbar__content">
            
            <div data-v-6dbd07ea="" class="fun-tabs tabs">
              <div class="fun-tabs__tab-list" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item tab_active"  onclick="location.href='/lottery'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221154540veqj.png">
                        <span data-v-6dbd07ea="">
                          LOTTERY
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                
                
                
                <div class="fun-tab-item funtab_item">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label" >
                      <div data-v-6dbd07ea="" class="tab_item" onclick="location.href='/slotjili'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221154558lshk.png">
                        <span data-v-6dbd07ea="">
                          SLOTS
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/original'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240415161436vabi.png">
                        <span data-v-6dbd07ea="">
                          ORIGINAL
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/casino'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_202404171805108e3f.png">
                        <span data-v-6dbd07ea="">
                          CASINO
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/rummy'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_202404151616441889.png">
                        <span data-v-6dbd07ea="">
                          RUMMY
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/fishing'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221164829vcfa.png">
                        <span data-v-6dbd07ea="">
                          FISHING
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/sports'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221154454akso.png">
                        <span data-v-6dbd07ea="">
                          SPORTS
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/popular'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221154444kutg.png">
                        <span data-v-6dbd07ea="">
                          POPULAR
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!---->
    <!---->
    <!---->



    <div data-v-c67ad2ea="" data-v-c62eac27="" class="daman-lottery-list" id="lottery">
      <!---->
      <!---->
      <div data-v-52f62447="" data-v-c67ad2ea="" class="daman-title">
        <div data-v-52f62447="" class="daman-title-left">
          <span data-v-9e5455f6="" data-v-52f62447="" class="cms-icon" style="font-size: 24px;">
            <img data-v-c67ad2ea="" src="../assets/png/fire.png" width="25px">
          </span>
          <span data-v-52f62447="">
            Popular Lottery
          </span>
        </div>
        <div data-v-52f62447="" class="btn-all" style="display: none;">
          
          <span data-v-52f62447="">
          </span>
          <svg data-v-52f62447="" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" viewBox="0 0 24 24" fill="none">
            <path data-v-52f62447="" fill-rule="evenodd" clip-rule="evenodd" d="M8.5064 19.541C7.99993 19.9904 7.2002 19.6308 7.2002 18.9537C7.2002 18.7288 7.29666 18.5147 7.46512 18.3657L14.6731 11.9896C14.7178 11.95 14.7181 11.8804 14.6738 11.8404L7.45763 5.33217C7.29374 5.18437 7.2002 4.97403 7.2002 4.75334C7.2002 4.078 8.00051 3.72221 8.50188 4.17465L15.8798 10.8325L16.2562 11.1964C16.6628 11.5895 16.6628 12.2412 16.2562 12.6343L15.8798 12.9982L8.5064 19.541Z"
            fill="#fff">
            </path>
          </svg>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-hot">
        <div data-v-c67ad2ea="" class="daman-hot-item"  onclick="location.href='/win'">
          <h3 data-v-c67ad2ea="">
            Trx 1Min
          </h3>
          <p data-v-c67ad2ea="">
            Countdown to lottery
          </p>
          <div data-v-c67ad2ea="" class="icon">
            <svg data-v-c67ad2ea="" xmlns="http://www.w3.org/2000/svg" width="160"
            height="57" viewBox="0 0 160 57" fill="none">
              <path data-v-c67ad2ea="" fill-rule="evenodd" clip-rule="evenodd" d="M52 5H4C1.79086 5 0 6.79086 0 9V53C0 55.2091 1.79086 57 4 57H156C158.209 57 160 55.2091 160 53V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="white">
              </path>
              <path data-v-c67ad2ea="" d="M52 5H4C1.79086 5 0 6.79086 0 9V14H160V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="#2AC1FA">
              </path>
              <path data-v-c67ad2ea="" d="M53 2C53 0.89543 53.8954 0 55 0C56.1046 0 57 0.895431 57 2V8C57 9.10457 56.1046 10 55 10C53.8954 10 53 9.10457 53 8V2Z"
              fill="#2AC1FA">
              </path>
              <path data-v-c67ad2ea="" d="M103 2C103 0.89543 103.895 0 105 0C106.105 0 107 0.895431 107 2V8C107 9.10457 106.105 10 105 10C103.895 10 103 9.10457 103 8V2Z"
              fill="#2AC1FA">
              </path>
              <path data-v-c67ad2ea="" d="M80 26V46" stroke="#E8E8E8" stroke-linecap="round">
              </path>
            </svg>
            <p data-v-c67ad2ea="" style="color: rgb(42, 193, 250);">
              <span data-v-c67ad2ea="">
                00
              </span>
              <span data-v-c67ad2ea="">
                60
              </span>
            </p>
          </div>
        </div>
        <div data-v-c67ad2ea="" class="daman-hot-item" onclick="location.href='/5d'">
          <h3 data-v-c67ad2ea="">
            5D 1Min
          </h3>
          <p data-v-c67ad2ea="">
            Countdown to lottery
          </p>
          <div data-v-c67ad2ea="" class="icon">
            <svg data-v-c67ad2ea="" xmlns="http://www.w3.org/2000/svg" width="160"
            height="57" viewBox="0 0 160 57" fill="none">
              <path data-v-c67ad2ea="" fill-rule="evenodd" clip-rule="evenodd" d="M52 5H4C1.79086 5 0 6.79086 0 9V53C0 55.2091 1.79086 57 4 57H156C158.209 57 160 55.2091 160 53V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="white">
              </path>
              <path data-v-c67ad2ea="" d="M52 5H4C1.79086 5 0 6.79086 0 9V14H160V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="#FFC56D">
              </path>
              <path data-v-c67ad2ea="" d="M53 2C53 0.89543 53.8954 0 55 0C56.1046 0 57 0.895431 57 2V8C57 9.10457 56.1046 10 55 10C53.8954 10 53 9.10457 53 8V2Z"
              fill="#FFC56D">
              </path>
              <path data-v-c67ad2ea="" d="M103 2C103 0.89543 103.895 0 105 0C106.105 0 107 0.895431 107 2V8C107 9.10457 106.105 10 105 10C103.895 10 103 9.10457 103 8V2Z"
              fill="#FFC56D">
              </path>
              <path data-v-c67ad2ea="" d="M80 26V46" stroke="#E8E8E8" stroke-linecap="round">
              </path>
            </svg>
            <p data-v-c67ad2ea="" style="color: rgb(255, 197, 109);">
              <span data-v-c67ad2ea="">
                00
              </span>
              <span data-v-c67ad2ea="">
                60
              </span>
            </p>
          </div>
        </div>
        <div data-v-c67ad2ea="" class="daman-hot-item"   onclick="location.href='/win'">
          <h3 data-v-c67ad2ea="">
            WinGo 1Min
          </h3>
          <p data-v-c67ad2ea="">
            Countdown to lottery
          </p>
          <div data-v-c67ad2ea="" class="icon">
            <svg data-v-c67ad2ea="" xmlns="http://www.w3.org/2000/svg" width="160"
            height="57" viewBox="0 0 160 57" fill="none">
              <path data-v-c67ad2ea="" fill-rule="evenodd" clip-rule="evenodd" d="M52 5H4C1.79086 5 0 6.79086 0 9V53C0 55.2091 1.79086 57 4 57H156C158.209 57 160 55.2091 160 53V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="white">
              </path>
              <path data-v-c67ad2ea="" d="M52 5H4C1.79086 5 0 6.79086 0 9V14H160V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="#FF6DC5">
              </path>
              <path data-v-c67ad2ea="" d="M53 2C53 0.89543 53.8954 0 55 0C56.1046 0 57 0.895431 57 2V8C57 9.10457 56.1046 10 55 10C53.8954 10 53 9.10457 53 8V2Z"
              fill="#FF6DC5">
              </path>
              <path data-v-c67ad2ea="" d="M103 2C103 0.89543 103.895 0 105 0C106.105 0 107 0.895431 107 2V8C107 9.10457 106.105 10 105 10C103.895 10 103 9.10457 103 8V2Z"
              fill="#FF6DC5">
              </path>
              <path data-v-c67ad2ea="" d="M80 26V46" stroke="#E8E8E8" stroke-linecap="round">
              </path>
            </svg>
            <p data-v-c67ad2ea="" style="color: rgb(255, 109, 197);">
              <span data-v-c67ad2ea="">
                00
              </span>
              <span data-v-c67ad2ea="">
                60
              </span>
            </p>
          </div>
        </div>
      </div>
      <div data-v-52f62447="" data-v-c67ad2ea="" class="daman-title daman-line">
        <div data-v-52f62447="" class="daman-title-left">
          <span data-v-9e5455f6="" data-v-52f62447="" class="cms-icon" style="font-size: 24px; display: none;">
            <svg data-v-9e5455f6="" aria-hidden="true">
              <use data-v-9e5455f6="" href="#cms-icon-hot" fill="">
              </use>
            </svg>
          </span>
          <span data-v-52f62447="">
            Lottery
          </span>
        </div>
        <div data-v-52f62447="" class="btn-all" style="display: none;">
          <p data-v-52f62447="">
            All
          </p>
          <span data-v-52f62447="">
          </span>
          <svg data-v-52f62447="" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" viewBox="0 0 24 24" fill="none">
            <path data-v-52f62447="" fill-rule="evenodd" clip-rule="evenodd" d="M8.5064 19.541C7.99993 19.9904 7.2002 19.6308 7.2002 18.9537C7.2002 18.7288 7.29666 18.5147 7.46512 18.3657L14.6731 11.9896C14.7178 11.95 14.7181 11.8804 14.6738 11.8404L7.45763 5.33217C7.29374 5.18437 7.2002 4.97403 7.2002 4.75334C7.2002 4.078 8.00051 3.72221 8.50188 4.17465L15.8798 10.8325L16.2562 11.1964C16.6628 11.5895 16.6628 12.2412 16.2562 12.6343L15.8798 12.9982L8.5064 19.541Z"
            fill="#fff">
            </path>
          </svg>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-item"   onclick="location.href='/win'">
        <div data-v-c67ad2ea="" class="daman-item-left">
          <h3 data-v-c67ad2ea="">
            Win Go
          </h3>
          <img data-v-c67ad2ea="" alt="" data-src="/images/main/lotterycategory_20240124125544jt65.png"
          src="/images/main/lotterycategory_20240124125544jt65.png"
          lazy="loaded">
        </div>
        <div data-v-c67ad2ea="" class="daman-item-right">
          <div data-v-c67ad2ea="" class="top">
            <h3 data-v-c67ad2ea="">
              Win Go
            </h3>
            <div data-v-c67ad2ea="" class="daman-btn">
              <span data-v-c67ad2ea="">
                GO
              </span>
              <span data-v-9e5455f6="" data-v-c67ad2ea="" class="cms-icon" style="font-size: 16px;">
                <svg data-v-9e5455f6="" aria-hidden="true">
                  <use data-v-9e5455f6="" href="#cms-icon-arrow-right" fill="">
                  </use>
                </svg>
              </span>
            </div>
          </div>
          <div data-v-c67ad2ea="" class="pool">
            <span data-v-c67ad2ea="">
              The highest bonus in history
            </span>
            <span data-v-c67ad2ea="" class="line">
            </span>
            <span data-v-c67ad2ea="" class="num">
              ₹0.00
            </span>
          </div>
          <p data-v-c67ad2ea="" class="tips">
            Through the platform WIN GO Hash lottery seed as the result of the lottery
          </p>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-item"  onclick="location.href='/k3'">
        <div data-v-c67ad2ea="" class="daman-item-left">
          <h3 data-v-c67ad2ea="">
            K3
          </h3>
          <img data-v-c67ad2ea="" alt="" data-src="/images/main/lotterycategory_20240124125551se9i.png"
          src="/images/main/lotterycategory_20240124125551se9i.png"
          lazy="loaded">
        </div>
        <div data-v-c67ad2ea="" class="daman-item-right">
          <div data-v-c67ad2ea="" class="top">
            <h3 data-v-c67ad2ea="">
              K3
            </h3>
            <div data-v-c67ad2ea="" class="daman-btn">
              <span data-v-c67ad2ea="">
                GO
              </span>
              <span data-v-9e5455f6="" data-v-c67ad2ea="" class="cms-icon" style="font-size: 16px;">
                <svg data-v-9e5455f6="" aria-hidden="true">
                  <use data-v-9e5455f6="" href="#cms-icon-arrow-right" fill="">
                  </use>
                </svg>
              </span>
            </div>
          </div>
          <div data-v-c67ad2ea="" class="pool">
            <span data-v-c67ad2ea="">
              The highest bonus in history
            </span>
            <span data-v-c67ad2ea="" class="line">
            </span>
            <span data-v-c67ad2ea="" class="num">
              ₹0.00
            </span>
          </div>
          <p data-v-c67ad2ea="" class="tips">
            The player predicts 3 DICE numbers, the winning rate is high, the gameplay
            is simple, and it is easy to win
          </p>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-item"   onclick="location.href='/5d'">
        <div data-v-c67ad2ea="" class="daman-item-left">
          <h3 data-v-c67ad2ea="">
            5D
          </h3>
          <img data-v-c67ad2ea="" alt="" data-src="/images/main/lotterycategory_20240124125558slo1.png"
          src="/images/main/lotterycategory_20240124125558slo1.png"
          lazy="loaded">
        </div>
        <div data-v-c67ad2ea="" class="daman-item-right">
          <div data-v-c67ad2ea="" class="top">
            <h3 data-v-c67ad2ea="">
              5D
            </h3>
            <div data-v-c67ad2ea="" class="daman-btn">
              <span data-v-c67ad2ea="">
                GO
              </span>
              <span data-v-9e5455f6="" data-v-c67ad2ea="" class="cms-icon" style="font-size: 16px;">
                <svg data-v-9e5455f6="" aria-hidden="true">
                  <use data-v-9e5455f6="" href="#cms-icon-arrow-right" fill="">
                  </use>
                </svg>
              </span>
            </div>
          </div>
          <div data-v-c67ad2ea="" class="pool">
            <span data-v-c67ad2ea="">
              The highest bonus in history
            </span>
            <span data-v-c67ad2ea="" class="line">
            </span>
            <span data-v-c67ad2ea="" class="num">
              ₹0.00
            </span>
          </div>
          <p data-v-c67ad2ea="" class="tips">
            5 numbers are used as the result of the lottery, and the playing methods
            are flexible and diverse
          </p>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-item"   onclick="location.href='/win'">
        <div data-v-c67ad2ea="" class="daman-item-left">
          <h3 data-v-c67ad2ea="">
            Trx Win Go
          </h3>
          <img data-v-c67ad2ea="" alt="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
          src="/images/main/lotterycategory_20240124125606db4a.png"
          lazy="loaded">
        </div>
        <div data-v-c67ad2ea="" class="daman-item-right">
          <div data-v-c67ad2ea="" class="top">
            <h3 data-v-c67ad2ea="">
              Trx Win Go
            </h3>
            <div data-v-c67ad2ea="" class="daman-btn">
              <span data-v-c67ad2ea="">
                GO
              </span>
              <span data-v-9e5455f6="" data-v-c67ad2ea="" class="cms-icon" style="font-size: 16px;">
                <svg data-v-9e5455f6="" aria-hidden="true">
                  <use data-v-9e5455f6="" href="#cms-icon-arrow-right" fill="">
                  </use>
                </svg>
              </span>
            </div>
          </div>
          <div data-v-c67ad2ea="" class="pool">
            <span data-v-c67ad2ea="">
              The highest bonus in history
            </span>
            <span data-v-c67ad2ea="" class="line">
            </span>
            <span data-v-c67ad2ea="" class="num">
              ₹0.00
            </span>
          </div>
          <p data-v-c67ad2ea="" class="tips">
            By obtaining the real-time hash value of the TRX blockchain as the result
            of the lottery
          </p>
        </div>
      </div>
    </div>







  
      
      
    <div data-v-6a35701e="" class="luckyWinners__container">
      <h1 data-v-6a35701e="">
        Winning information
      </h1>
      <div data-v-6a35701e="" class="luckyWinners__container-wrapper">
        <div data-v-6a35701e="" style="position: relative;">
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/5-ab77b716.png" src="../assets/png/5-ab77b716.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***FYR
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹19.60
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/8-ea087ede.png" src="/assets/png/8-ea087ede.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***TDX
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹39.20
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/18-52955242.png" src="/assets/png/18-52955242.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***LRA
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹588.00
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/5-ab77b716.png" src="/assets/png/5-ab77b716.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***MDX
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹196.00
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/11-925c456e.png" src="/assets/png/11-925c456e.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***BOP
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹39.20
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/8-ea087ede.png" src="/assets/png/8-ea087ede.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***QZC
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹196.00
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
      

    <div data-v-4a4a4c0e="" class="dailyProfitRank">
      <h1 data-v-4a4a4c0e="">
        Today's earnings chart
      </h1>
      <div data-v-4a4a4c0e="" class="dailyProfitRank__content">
        <div data-v-4a4a4c0e="" class="dailyProfitRank__content-topThree rank-stage">
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-topThree__item"
          style="order: 2; top: -45px;">
            <div data-v-4a4a4c0e="" class="rank_border1">
              <img data-v-4a4a4c0e="" data-src="/assets/png/17-bedde42f.png" src="/assets/png/17-bedde42f.png"
              lazy="loaded">
            </div>
            <div data-v-4a4a4c0e="">
              <div data-v-4a4a4c0e="" class="rank_crown1">
              </div>
              <div data-v-4a4a4c0e="" class="rank_place1">
              </div>
            </div>
            <span data-v-4a4a4c0e="">
              Mem***XBN
            </span>
            <span data-v-4a4a4c0e="">
              ₹36,407,782,33
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-topThree__item"
          style="order: 1; top: -30px;">
            <div data-v-4a4a4c0e="" class="rank_border2">
              <img data-v-4a4a4c0e="" data-src="/assets/png/4-12a0d0c5.png" src="/assets/png/4-12a0d0c5.png"
              lazy="loaded">
            </div>
            <div data-v-4a4a4c0e="">
              <div data-v-4a4a4c0e="" class="rank_crown2">
              </div>
              <div data-v-4a4a4c0e="" class="rank_place2">
              </div>
            </div>
            <span data-v-4a4a4c0e="">
              Mem***PUG
            </span>
            <span data-v-4a4a4c0e="">
              ₹1,659,220,06
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-topThree__item"
          style="order: 3; top: -30px;">
            <div data-v-4a4a4c0e="" class="rank_border3">
              <img data-v-4a4a4c0e="" data-src="/assets/png/16-cf8e1441.png" src="/assets/png/16-cf8e1441.png"
              lazy="loaded">
            </div>
            <div data-v-4a4a4c0e="">
              <div data-v-4a4a4c0e="" class="rank_crown3">
              </div>
              <div data-v-4a4a4c0e="" class="rank_place3">
              </div>
            </div>
            <span data-v-4a4a4c0e="">
              Mem***ECG
            </span>
            <span data-v-4a4a4c0e="">
              ₹1,088,815,35
            </span>
          </div>
        </div>
        <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list">
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              4
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***OPR
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹902,039,04
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              5
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***CAJ
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹881,744,80
            </span>
          </div>
        </div>
      </div>
    </div>






    <div data-v-4641417b="" class="terms">
      <div data-v-4641417b="" class="terms-logo">
        <div data-v-4641417b="" class="terms-logo-left">
          <img data-v-4641417b="" src="/images/main/h5setting_202310181902013nan.png"
          alt="">
        </div>
        <span class="terms-logo-service" data-v-4641417b="">
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"
          data-v-4641417b="">
            <circle cx="35" cy="35" r="33" stroke="url(#paint0_linear_84_6311)" stroke-width="4"
            data-v-4641417b="">
            </circle>
            <path d="M25.3809 33.7041V36.8906H12.7109V33.7041H25.3809ZM20.7852 28.6895V42.1465H17.3193V28.6895H20.7852ZM36.3496 25.4775V44H32.6934V29.6924L28.3008 31.0889V28.207L35.9561 25.4775H36.3496ZM54.8213 38.9346C54.8213 40.0941 54.5505 41.0716 54.0088 41.8672C53.4671 42.6543 52.7223 43.251 51.7744 43.6572C50.835 44.055 49.7686 44.2539 48.5752 44.2539C47.3818 44.2539 46.3112 44.055 45.3633 43.6572C44.4154 43.251 43.6663 42.6543 43.1162 41.8672C42.5661 41.0716 42.291 40.0941 42.291 38.9346C42.291 38.1559 42.4476 37.4535 42.7607 36.8271C43.0739 36.1924 43.5098 35.6507 44.0684 35.2021C44.6354 34.7451 45.2998 34.3981 46.0615 34.1611C46.8232 33.9157 47.6527 33.793 48.5498 33.793C49.7516 33.793 50.8265 34.0046 51.7744 34.4277C52.7223 34.8509 53.4671 35.4476 54.0088 36.2178C54.5505 36.988 54.8213 37.8936 54.8213 38.9346ZM51.1396 38.6934C51.1396 38.1263 51.0296 37.6396 50.8096 37.2334C50.598 36.8187 50.2975 36.5013 49.9082 36.2812C49.5189 36.0612 49.0661 35.9512 48.5498 35.9512C48.0335 35.9512 47.5807 36.0612 47.1914 36.2812C46.8021 36.5013 46.4974 36.8187 46.2773 37.2334C46.0658 37.6396 45.96 38.1263 45.96 38.6934C45.96 39.252 46.0658 39.7344 46.2773 40.1406C46.4974 40.5469 46.8021 40.86 47.1914 41.0801C47.5892 41.2917 48.0505 41.3975 48.5752 41.3975C49.0999 41.3975 49.5527 41.2917 49.9336 41.0801C50.3229 40.86 50.6191 40.5469 50.8223 40.1406C51.0339 39.7344 51.1396 39.252 51.1396 38.6934ZM54.4277 30.416C54.4277 31.3555 54.1781 32.1891 53.6787 32.917C53.1794 33.6364 52.4854 34.1992 51.5967 34.6055C50.7165 35.0117 49.7093 35.2148 48.5752 35.2148C47.4326 35.2148 46.417 35.0117 45.5283 34.6055C44.6396 34.1992 43.9456 33.6364 43.4463 32.917C42.9469 32.1891 42.6973 31.3555 42.6973 30.416C42.6973 29.2988 42.9469 28.3594 43.4463 27.5977C43.9541 26.8275 44.6481 26.2435 45.5283 25.8457C46.417 25.4479 47.4242 25.249 48.5498 25.249C49.6924 25.249 50.7038 25.4479 51.584 25.8457C52.4727 26.2435 53.1667 26.8275 53.666 27.5977C54.1738 28.3594 54.4277 29.2988 54.4277 30.416ZM50.7715 30.5811C50.7715 30.0817 50.6826 29.6501 50.5049 29.2861C50.3271 28.9137 50.0732 28.626 49.7432 28.4229C49.4215 28.2197 49.0238 28.1182 48.5498 28.1182C48.0928 28.1182 47.6992 28.2155 47.3691 28.4102C47.0475 28.6048 46.7979 28.8883 46.6201 29.2607C46.4508 29.6247 46.3662 30.0648 46.3662 30.5811C46.3662 31.0804 46.4508 31.5205 46.6201 31.9014C46.7979 32.2738 47.0518 32.5658 47.3818 32.7773C47.7119 32.9889 48.1097 33.0947 48.5752 33.0947C49.0407 33.0947 49.4342 32.9889 49.7559 32.7773C50.0859 32.5658 50.3356 32.2738 50.5049 31.9014C50.6826 31.5205 50.7715 31.0804 50.7715 30.5811Z"
            fill="url(#paint1_linear_84_6311)" data-v-4641417b="">
            </path>
            <defs data-v-4641417b="">
              <linearGradient id="paint0_linear_84_6311" x1="35" y1="0" x2="35" y2="70"
              gradientUnits="userSpaceOnUse" data-v-4641417b="">
                <stop stop-color="#FA2221" data-v-4641417b="">
                </stop>
                <stop offset="1" stop-color="#FA5121" data-v-4641417b="">
                </stop>
              </linearGradient>
              <linearGradient id="paint1_linear_84_6311" x1="34.5" y1="20" x2="34.5"
              y2="50" gradientUnits="userSpaceOnUse" data-v-4641417b="">
                <stop stop-color="#FA2221" data-v-4641417b="">
                </stop>
                <stop offset="1" stop-color="#FA5121" data-v-4641417b="">
                </stop>
              </linearGradient>
            </defs>
          </svg>
        </span>
        <span data-v-4641417b="" class="terms-logo-service">
          <img data-v-4641417b="" alt="" data-src="/assets/png/CStype3-7588d980.png"
          src="/assets/png/CStype3-7588d980.png" lazy="loaded">
        </span>
      </div>
      <div data-v-4641417b="" class="terms-icons">
        <svg data-v-4641417b="" xmlns="http://www.w3.org/2000/svg" width="210"
        height="80" viewBox="0 0 210 80" fill="none">
          <path d="M0 10C0 4.47715 4.47715 0 10 0H200C205.523 0 210 4.47715 210 10V70C210 75.5229 205.523 80 200 80H10C4.47715 80 0 75.5229 0 70V10Z"
          fill="#2b3270" data-v-4641417b="">
          </path>
          <path d="M94.4333 42.2315C94.4755 42.7398 94.527 43.235 94.5773 43.7186C94.8659 46.4927 95.115 48.8876 93.3547 51.2112C88.1097 57.7135 81.1033 59.6642 74.6691 59.6642C63.8062 59.6642 55 50.9306 55 40.1572C55 29.3838 63.8062 20.6502 74.6691 20.6502C80.1533 20.6502 85.5259 23.5619 89.0931 27.1526C88.1097 28.453 86.4706 30.0786 85.7784 31.0327C83.1327 27.8679 79.1382 25.8521 74.6691 25.8521C66.7029 25.8521 60.2451 32.2567 60.2451 40.1572C60.2451 48.0577 66.7029 54.4624 74.6691 54.4624C79.1482 54.4624 85.0555 53.0479 89.0931 48.6103C90.868 46.6596 90.6807 46.1078 90.7322 45.3591C92.3672 44.038 93.1977 42.9202 94.4333 42.2315Z"
          fill="url(#paint0_linear_84_6465)" data-v-4641417b="">
          </path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M109.418 59.6642C120.281 59.6642 129.087 50.9306 129.087 40.1572C129.087 29.3838 120.281 20.6502 109.418 20.6502C98.5549 20.6502 89.7487 29.3838 89.7487 40.1572C89.7487 50.9306 98.5549 59.6642 109.418 59.6642ZM109.418 54.4624C117.384 54.4624 123.842 48.0577 123.842 40.1572C123.842 32.2567 117.384 25.8521 109.418 25.8521C101.452 25.8521 94.9938 32.2567 94.9938 40.1572C94.9938 48.0577 101.452 54.4624 109.418 54.4624Z"
          fill="url(#paint1_linear_84_6465)" data-v-4641417b="">
          </path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M148.756 51.2112C157.446 51.2112 164.491 44.2243 164.491 35.6056C164.491 26.9869 157.446 20 148.756 20C140.066 20 133.021 26.9869 133.021 35.6056C133.021 44.2243 140.066 51.2112 148.756 51.2112ZM148.756 46.0093C154.55 46.0093 159.246 41.3514 159.246 35.6056C159.246 29.8598 154.55 25.2019 148.756 25.2019C142.962 25.2019 138.266 29.8598 138.266 35.6056C138.266 41.3514 142.962 46.0093 148.756 46.0093Z"
          fill="url(#paint2_linear_84_6465)" data-v-4641417b="">
          </path>
          <path d="M109.418 42.433C104.173 42.433 100.02 42.9749 98.5998 43.4084C98.9277 44.7089 100.567 48.6103 100.567 48.6103C100.567 48.6103 115.59 45.496 123.842 51.8614C135.643 60.9647 145.478 60.3145 149.412 59.6642C153.346 59.014 158.918 57.0633 162.197 50.8861C165.475 44.7089 164.491 35.6056 164.491 35.6056H162.197L157.607 47.96C157.935 49.5856 153.214 53.9422 146.134 54.4624C137.282 55.1126 132.742 51.0323 127.448 47.6349C121.875 44.0586 115.974 42.433 109.418 42.433Z"
          fill="url(#paint3_linear_84_6465)" data-v-4641417b="">
          </path>
          <defs data-v-4641417b="">
            <linearGradient id="paint0_linear_84_6465" x1="109.815" y1="20" x2="109.815"
            y2="60" gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFC908" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#F57A1F" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint1_linear_84_6465" x1="109.815" y1="20" x2="109.815"
            y2="60" gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFC908" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#F57A1F" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint2_linear_84_6465" x1="109.815" y1="20" x2="109.815"
            y2="60" gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFC908" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#F57A1F" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint3_linear_84_6465" x1="109.815" y1="20" x2="109.815"
            y2="60" gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFC908" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#F57A1F" data-v-4641417b="">
              </stop>
            </linearGradient>
          </defs>
        </svg>
        <svg data-v-4641417b="" width="210" height="80" viewBox="0 0 210 80" fill="none"
        xmlns="http://www.w3.org/2000/svg">
          <path d="M0 10C0 4.47715 4.47715 0 10 0H200C205.523 0 210 4.47715 210 10V70C210 75.5229 205.523 80 200 80H10C4.47715 80 0 75.5229 0 70V10Z"
          fill="#2b3270" data-v-4641417b="">
          </path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M105 47C115.493 47 124 38.4934 124 28C124 17.5066 115.493 9 105 9C94.5066 9 86 17.5066 86 28C86 29.9874 86.3051 31.9034 86.8711 33.704C86.8777 33.6928 86.8845 33.6819 86.8915 33.6713C89.1199 30.9738 92.9341 25.5392 94.2804 23.1158C96.0397 19.9491 97.7989 16.196 98.5026 14.6713C98.7372 14.2022 99.4878 12.9824 100.614 13.2638C101.679 13.5302 101.673 15.0059 101.67 15.9278C101.67 15.98 101.669 16.0304 101.669 16.0787C101.669 17.4079 101.628 19.0014 101.583 20.7098C101.403 27.5937 101.173 36.344 103.429 37.1898C104.902 37.7424 109.761 29.0971 111.872 22.4119C111.891 22.354 111.91 22.2961 111.929 22.2384C112.257 21.2437 112.568 20.301 113.632 20.301C114.544 20.301 114.671 21.2235 114.872 22.6953C114.92 23.0413 114.972 23.4175 115.038 23.8193C115.062 23.9613 115.087 24.1177 115.115 24.2865C115.493 26.6278 116.26 31.3739 118.557 33.6712C119.801 34.9151 119.964 36.1341 117.15 34.023C116.68 33.6712 115.038 32.2637 114.335 29.4489C113.631 26.6341 113.069 26.9858 112.929 27.6897C112.577 29.4489 107.651 40.3565 103.78 40.3565C98.244 40.3565 98.6229 31.2148 98.8059 26.7988C98.8322 26.1631 98.8545 25.6254 98.8545 25.2269C98.8545 22.0602 97.0952 25.2269 96.0397 27.338C95.9066 27.6041 95.7245 27.9804 95.5041 28.4357C94.0796 31.3783 91.057 37.6226 89.3523 38.7803C92.7798 43.7459 98.5099 47 105 47Z"
          fill="url(#paint0_linear_84_6488)" data-v-4641417b="">
          </path>
          <path d="M33.1136 51.5455H35.6364L41.5682 66.0341H41.7727L47.7045 51.5455H50.2273V69H48.25V55.7386H48.0795L42.625 69H40.7159L35.2614 55.7386H35.0909V69H33.1136V51.5455ZM54.1925 69V55.9091H56.2038V69H54.1925ZM55.2152 53.7273C54.8232 53.7273 54.4851 53.5938 54.201 53.3267C53.9226 53.0597 53.7834 52.7386 53.7834 52.3636C53.7834 51.9886 53.9226 51.6676 54.201 51.4006C54.4851 51.1335 54.8232 51 55.2152 51C55.6072 51 55.9425 51.1335 56.2209 51.4006C56.505 51.6676 56.647 51.9886 56.647 52.3636C56.647 52.7386 56.505 53.0597 56.2209 53.3267C55.9425 53.5938 55.6072 53.7273 55.2152 53.7273ZM65.206 69.2727C63.9787 69.2727 62.9219 68.983 62.0355 68.4034C61.1491 67.8239 60.4673 67.0256 59.9901 66.0085C59.5128 64.9915 59.2741 63.8295 59.2741 62.5227C59.2741 61.1932 59.5185 60.0199 60.0071 59.0028C60.5014 57.9801 61.1889 57.1818 62.0696 56.608C62.956 56.0284 63.9901 55.7386 65.1719 55.7386C66.0923 55.7386 66.9219 55.9091 67.6605 56.25C68.3991 56.5909 69.0043 57.0682 69.4759 57.6818C69.9474 58.2955 70.2401 59.0114 70.3537 59.8295H68.3423C68.1889 59.233 67.848 58.7045 67.3196 58.2443C66.7969 57.7784 66.0923 57.5455 65.206 57.5455C64.4219 57.5455 63.7344 57.75 63.1435 58.1591C62.5582 58.5625 62.1009 59.1335 61.7713 59.8722C61.4474 60.6051 61.2855 61.4659 61.2855 62.4545C61.2855 63.4659 61.4446 64.3466 61.7628 65.0966C62.0866 65.8466 62.5412 66.429 63.1264 66.8438C63.7173 67.2585 64.4105 67.4659 65.206 67.4659C65.7287 67.4659 66.2031 67.375 66.6293 67.1932C67.0554 67.0114 67.4162 66.75 67.7116 66.4091C68.0071 66.0682 68.2173 65.6591 68.3423 65.1818H70.3537C70.2401 65.9545 69.9588 66.6506 69.5099 67.2699C69.0668 67.8835 68.4787 68.3722 67.7457 68.7358C67.0185 69.0938 66.1719 69.2727 65.206 69.2727ZM73.294 69V55.9091H75.2372V57.8864H75.3736C75.6122 57.2386 76.044 56.7131 76.669 56.3097C77.294 55.9062 77.9986 55.7045 78.7827 55.7045C78.9304 55.7045 79.1151 55.7074 79.3366 55.7131C79.5582 55.7187 79.7259 55.7273 79.8395 55.7386V57.7841C79.7713 57.767 79.6151 57.7415 79.3707 57.7074C79.1321 57.6676 78.8793 57.6477 78.6122 57.6477C77.9759 57.6477 77.4077 57.7812 76.9077 58.0483C76.4134 58.3097 76.0213 58.6733 75.7315 59.1392C75.4474 59.5994 75.3054 60.125 75.3054 60.7159V69H73.294ZM87.1435 69.2727C85.9616 69.2727 84.9247 68.9915 84.0327 68.429C83.1463 67.8665 82.4531 67.0795 81.9531 66.0682C81.4588 65.0568 81.2116 63.875 81.2116 62.5227C81.2116 61.1591 81.4588 59.9687 81.9531 58.9517C82.4531 57.9347 83.1463 57.1449 84.0327 56.5824C84.9247 56.0199 85.9616 55.7386 87.1435 55.7386C88.3253 55.7386 89.3594 56.0199 90.2457 56.5824C91.1378 57.1449 91.831 57.9347 92.3253 58.9517C92.8253 59.9687 93.0753 61.1591 93.0753 62.5227C93.0753 63.875 92.8253 65.0568 92.3253 66.0682C91.831 67.0795 91.1378 67.8665 90.2457 68.429C89.3594 68.9915 88.3253 69.2727 87.1435 69.2727ZM87.1435 67.4659C88.0412 67.4659 88.7798 67.2358 89.3594 66.7756C89.9389 66.3153 90.3679 65.7102 90.6463 64.9602C90.9247 64.2102 91.0639 63.3977 91.0639 62.5227C91.0639 61.6477 90.9247 60.8324 90.6463 60.0767C90.3679 59.321 89.9389 58.7102 89.3594 58.2443C88.7798 57.7784 88.0412 57.5455 87.1435 57.5455C86.2457 57.5455 85.5071 57.7784 84.9276 58.2443C84.348 58.7102 83.919 59.321 83.6406 60.0767C83.3622 60.8324 83.223 61.6477 83.223 62.5227C83.223 63.3977 83.3622 64.2102 83.6406 64.9602C83.919 65.7102 84.348 66.3153 84.9276 66.7756C85.5071 67.2358 86.2457 67.4659 87.1435 67.4659ZM101.43 74.1818C100.458 74.1818 99.6229 74.0568 98.924 73.8068C98.2251 73.5625 97.6428 73.2386 97.1768 72.8352C96.7166 72.4375 96.3501 72.0114 96.0774 71.5568L97.6797 70.4318C97.8615 70.6705 98.0916 70.9432 98.37 71.25C98.6484 71.5625 99.0291 71.8324 99.5121 72.0597C100.001 72.2926 100.64 72.4091 101.43 72.4091C102.487 72.4091 103.359 72.1534 104.046 71.642C104.734 71.1307 105.077 70.3295 105.077 69.2386V66.5795H104.907C104.759 66.8182 104.549 67.1136 104.276 67.4659C104.009 67.8125 103.623 68.1222 103.117 68.3949C102.617 68.6619 101.941 68.7955 101.089 68.7955C100.032 68.7955 99.0831 68.5455 98.2422 68.0455C97.407 67.5455 96.745 66.8182 96.2564 65.8636C95.7734 64.9091 95.532 63.75 95.532 62.3864C95.532 61.0455 95.7678 59.8778 96.2393 58.8835C96.7109 57.8835 97.3672 57.1108 98.2081 56.5653C99.049 56.0142 100.021 55.7386 101.123 55.7386C101.975 55.7386 102.651 55.8807 103.151 56.1648C103.657 56.4432 104.043 56.7614 104.31 57.1193C104.583 57.4716 104.793 57.7614 104.941 57.9886H105.146V55.9091H107.089V69.375C107.089 70.5 106.833 71.4148 106.322 72.1193C105.816 72.8295 105.134 73.3494 104.276 73.679C103.424 74.0142 102.475 74.1818 101.43 74.1818ZM101.362 66.9886C102.168 66.9886 102.85 66.804 103.407 66.4347C103.964 66.0653 104.387 65.5341 104.677 64.8409C104.967 64.1477 105.112 63.3182 105.112 62.3523C105.112 61.4091 104.969 60.5767 104.685 59.8551C104.401 59.1335 103.981 58.5682 103.424 58.1591C102.867 57.75 102.18 57.5455 101.362 57.5455C100.509 57.5455 99.799 57.7614 99.2308 58.1932C98.6683 58.625 98.245 59.2045 97.9609 59.9318C97.6825 60.6591 97.5433 61.4659 97.5433 62.3523C97.5433 63.2614 97.6854 64.0653 97.9695 64.7642C98.2592 65.4574 98.6854 66.0028 99.2479 66.4006C99.8161 66.7926 100.521 66.9886 101.362 66.9886ZM114.623 69.3068C113.793 69.3068 113.04 69.1506 112.364 68.8381C111.688 68.5199 111.151 68.0625 110.754 67.4659C110.356 66.8636 110.157 66.1364 110.157 65.2841C110.157 64.5341 110.305 63.9261 110.6 63.4602C110.896 62.9886 111.29 62.6193 111.785 62.3523C112.279 62.0852 112.825 61.8864 113.421 61.7557C114.023 61.6193 114.629 61.5114 115.237 61.4318C116.032 61.3295 116.677 61.2528 117.171 61.2017C117.671 61.1449 118.035 61.0511 118.262 60.9205C118.495 60.7898 118.612 60.5625 118.612 60.2386V60.1705C118.612 59.3295 118.381 58.6761 117.921 58.2102C117.467 57.7443 116.776 57.5114 115.85 57.5114C114.89 57.5114 114.137 57.7216 113.592 58.142C113.046 58.5625 112.663 59.0114 112.441 59.4886L110.532 58.8068C110.873 58.0114 111.327 57.392 111.896 56.9489C112.469 56.5 113.094 56.1875 113.771 56.0114C114.452 55.8295 115.123 55.7386 115.782 55.7386C116.202 55.7386 116.685 55.7898 117.231 55.892C117.782 55.9886 118.313 56.1903 118.825 56.4972C119.342 56.804 119.771 57.267 120.112 57.8864C120.452 58.5057 120.623 59.3352 120.623 60.375V69H118.612V67.2273H118.509C118.373 67.5114 118.146 67.8153 117.827 68.1392C117.509 68.4631 117.086 68.7386 116.558 68.9659C116.029 69.1932 115.384 69.3068 114.623 69.3068ZM114.93 67.5C115.725 67.5 116.396 67.3438 116.941 67.0312C117.492 66.7188 117.907 66.3153 118.185 65.821C118.469 65.3267 118.612 64.8068 118.612 64.2614V62.4205C118.526 62.5227 118.339 62.6165 118.049 62.7017C117.765 62.7812 117.435 62.8523 117.06 62.9148C116.691 62.9716 116.33 63.0227 115.978 63.0682C115.631 63.108 115.35 63.142 115.134 63.1705C114.612 63.2386 114.123 63.3494 113.668 63.5028C113.219 63.6506 112.856 63.875 112.577 64.1761C112.305 64.4716 112.168 64.875 112.168 65.3864C112.168 66.0852 112.427 66.6136 112.944 66.9716C113.467 67.3239 114.129 67.5 114.93 67.5ZM124.294 69V55.9091H126.237V57.9545H126.408C126.68 57.2557 127.121 56.7131 127.729 56.3267C128.337 55.9347 129.067 55.7386 129.919 55.7386C130.783 55.7386 131.501 55.9347 132.075 56.3267C132.655 56.7131 133.107 57.2557 133.43 57.9545H133.567C133.902 57.2784 134.405 56.7415 135.075 56.3438C135.746 55.9403 136.55 55.7386 137.487 55.7386C138.658 55.7386 139.615 56.1051 140.359 56.8381C141.104 57.5653 141.476 58.6989 141.476 60.2386V69H139.464V60.2386C139.464 59.2727 139.2 58.5824 138.672 58.1676C138.143 57.7528 137.521 57.5455 136.805 57.5455C135.885 57.5455 135.172 57.8239 134.666 58.3807C134.161 58.9318 133.908 59.6307 133.908 60.4773V69H131.862V60.0341C131.862 59.2898 131.621 58.6903 131.138 58.2358C130.655 57.7756 130.033 57.5455 129.271 57.5455C128.749 57.5455 128.26 57.6847 127.805 57.9631C127.357 58.2415 126.993 58.6278 126.714 59.1222C126.442 59.6108 126.305 60.1761 126.305 60.8182V69H124.294ZM145.153 69V55.9091H147.165V69H145.153ZM146.176 53.7273C145.784 53.7273 145.446 53.5938 145.162 53.3267C144.884 53.0597 144.744 52.7386 144.744 52.3636C144.744 51.9886 144.884 51.6676 145.162 51.4006C145.446 51.1335 145.784 51 146.176 51C146.568 51 146.903 51.1335 147.182 51.4006C147.466 51.6676 147.608 51.9886 147.608 52.3636C147.608 52.7386 147.466 53.0597 147.182 53.3267C146.903 53.5938 146.568 53.7273 146.176 53.7273ZM152.86 61.125V69H150.849V55.9091H152.792V57.9545H152.962C153.269 57.2898 153.735 56.7557 154.36 56.3523C154.985 55.9432 155.792 55.7386 156.781 55.7386C157.667 55.7386 158.442 55.9205 159.107 56.2841C159.772 56.642 160.289 57.1875 160.658 57.9205C161.028 58.6477 161.212 59.5682 161.212 60.6818V69H159.201V60.8182C159.201 59.7898 158.934 58.9886 158.4 58.4148C157.866 57.8352 157.133 57.5455 156.201 57.5455C155.559 57.5455 154.985 57.6847 154.479 57.9631C153.979 58.2415 153.585 58.6477 153.295 59.1818C153.005 59.7159 152.86 60.3636 152.86 61.125ZM170.172 74.1818C169.2 74.1818 168.365 74.0568 167.666 73.8068C166.967 73.5625 166.385 73.2386 165.919 72.8352C165.459 72.4375 165.092 72.0114 164.82 71.5568L166.422 70.4318C166.604 70.6705 166.834 70.9432 167.112 71.25C167.391 71.5625 167.771 71.8324 168.254 72.0597C168.743 72.2926 169.382 72.4091 170.172 72.4091C171.229 72.4091 172.101 72.1534 172.788 71.642C173.476 71.1307 173.82 70.3295 173.82 69.2386V66.5795H173.649C173.501 66.8182 173.291 67.1136 173.018 67.4659C172.751 67.8125 172.365 68.1222 171.859 68.3949C171.359 68.6619 170.683 68.7955 169.831 68.7955C168.774 68.7955 167.825 68.5455 166.984 68.0455C166.149 67.5455 165.487 66.8182 164.999 65.8636C164.516 64.9091 164.274 63.75 164.274 62.3864C164.274 61.0455 164.51 59.8778 164.982 58.8835C165.453 57.8835 166.109 57.1108 166.95 56.5653C167.791 56.0142 168.763 55.7386 169.865 55.7386C170.717 55.7386 171.393 55.8807 171.893 56.1648C172.399 56.4432 172.786 56.7614 173.053 57.1193C173.325 57.4716 173.536 57.7614 173.683 57.9886H173.888V55.9091H175.831V69.375C175.831 70.5 175.575 71.4148 175.064 72.1193C174.558 72.8295 173.876 73.3494 173.018 73.679C172.166 74.0142 171.217 74.1818 170.172 74.1818ZM170.104 66.9886C170.911 66.9886 171.592 66.804 172.149 66.4347C172.706 66.0653 173.129 65.5341 173.419 64.8409C173.709 64.1477 173.854 63.3182 173.854 62.3523C173.854 61.4091 173.712 60.5767 173.428 59.8551C173.143 59.1335 172.723 58.5682 172.166 58.1591C171.609 57.75 170.922 57.5455 170.104 57.5455C169.251 57.5455 168.541 57.7614 167.973 58.1932C167.411 58.625 166.987 59.2045 166.703 59.9318C166.425 60.6591 166.286 61.4659 166.286 62.3523C166.286 63.2614 166.428 64.0653 166.712 64.7642C167.001 65.4574 167.428 66.0028 167.99 66.4006C168.558 66.7926 169.263 66.9886 170.104 66.9886Z"
          fill="url(#paint1_linear_84_6488)" data-v-4641417b="">
          </path>
          <defs data-v-4641417b="">
            <linearGradient id="paint0_linear_84_6488" x1="113.5" y1="9" x2="103.5"
            y2="47" gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#31B7E3" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#22E124" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint1_linear_84_6488" x1="33.9913" y1="60.7059" x2="174.581"
            y2="60.7059" gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#31BAD9" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#23E128" data-v-4641417b="">
              </stop>
            </linearGradient>
          </defs>
        </svg>
        <svg data-v-4641417b="" xmlns="http://www.w3.org/2000/svg" width="210"
        height="80" viewBox="0 0 210 80" fill="none">
          <path d="M0 10C0 4.47715 4.47715 0 10 0H200C205.523 0 210 4.47715 210 10V70C210 75.5229 205.523 80 200 80H10C4.47715 80 0 75.5229 0 70V10Z"
          fill="#2b3270" data-v-4641417b="">
          </path>
          <path d="M93.3413 15H78.4997L83.5947 22.1899L76.5052 51.1817C76.2837 51.8775 75.4873 54.2432 73.1835 56.2842C70.8797 58.3252 67.2025 57.2893 65.6518 56.5161C64.5434 58.1397 61 63.2422 61 63.2422C61 63.2422 66.8737 66.6818 74.734 63.938C79.3849 62.3145 83.1507 56.5161 84.0376 52.5733L93.3413 15Z"
          fill="url(#paint0_linear_84_6498)" data-v-4641417b="">
          </path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M94.005 15.2319L139.194 15C142.295 15 148.719 18.0151 148.719 24.9732C148.719 30.3076 145.84 33.5547 144.289 34.4824L144.299 34.494C144.969 35.2733 146.504 37.0591 146.504 42.1362C146.504 48.3985 139.637 54.1968 132.77 54.1968H90.4607L98.6568 22.4219L94.005 15.2319ZM106.188 22.1899L99.9859 46.543L100.038 46.5475C102.71 46.7808 107.768 47.2223 112.169 44.6875C116.6 42.1362 121.03 35.874 120.808 29.6118C120.587 23.3496 115.713 22.1899 112.834 22.1899H106.188ZM135.733 38.1934H125.903C125.017 41.9042 121.916 45.3832 120.365 46.7748C123.335 46.7748 128.257 46.6593 131.155 46.5913L131.156 46.5913C132.364 46.563 133.22 46.5429 133.435 46.5429C135.207 46.543 139.43 45.1514 139.194 41.4404C139.017 38.6572 136.979 38.1935 135.733 38.1934ZM127.675 30.7715H136.619C138.087 30.7715 141.188 29.6118 141.188 26.3648C141.188 23.1177 139.263 22.1899 137.2 22.19C136.848 22.1901 135.237 22.19 133.191 22.19C130.997 22.19 128.303 22.1899 126.125 22.1899C127.011 23.8135 127.897 27.5244 127.675 30.7715Z"
          fill="url(#paint1_linear_84_6498)" data-v-4641417b="">
          </path>
          <defs data-v-4641417b="">
            <linearGradient id="paint0_linear_84_6498" x1="144.5" y1="30.5" x2="83"
            y2="36.5" gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FF2E3B" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#FFD200" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint1_linear_84_6498" x1="144.5" y1="30.5" x2="83"
            y2="36.5" gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FF2E3B" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#FFD200" data-v-4641417b="">
              </stop>
            </linearGradient>
          </defs>
        </svg>
        <svg data-v-4641417b="" width="210" height="80" viewBox="0 0 210 80" fill="none"
        xmlns="http://www.w3.org/2000/svg">
          <path d="M0 10C0 4.47715 4.47715 0 10 0H200C205.523 0 210 4.47715 210 10V70C210 75.5229 205.523 80 200 80H10C4.47715 80 0 75.5229 0 70V10Z"
          fill="#2b3270" data-v-4641417b="">
          </path>
          <path d="M48.1543 27.6648H66.1561V31.7176H52.8361V37.6336H61.707V41.6864H52.8361V48.296H66.5668V52.3488H48.1543V27.6648Z"
          fill="#fff" data-v-4641417b="">
          </path>
          <path d="M66.1562 34.8047H70.9476L75.1366 47.0311L79.0245 34.8047H83.6653L77.2311 52.3487H72.9326L66.1562 34.8047Z"
          fill="#fff" data-v-4641417b="">
          </path>
          <path d="M83.8154 43.6177C83.8154 38.2593 87.5527 34.4785 92.9053 34.4785C98.2169 34.4785 101.968 38.2729 101.968 43.6177C101.968 48.8945 98.1484 52.6889 92.7958 52.6889C87.4842 52.6889 83.8154 48.9625 83.8154 43.6177ZM97.2586 43.7265V43.5769C97.2586 40.2313 95.6159 38.2185 92.919 38.2185C90.1811 38.2185 88.5383 40.2313 88.5383 43.5769V43.7265C88.5383 47.0041 90.14 48.9353 92.8369 48.9353C95.5748 48.9353 97.2586 46.9905 97.2586 43.7265Z"
          fill="#fff" data-v-4641417b="">
          </path>
          <path d="M104.966 27.3247H109.648V52.3487H104.966V27.3247Z" fill="#fff"
          data-v-4641417b="">
          </path>
          <path d="M113.193 45.3175V34.8047H117.834V45.0591C117.834 47.3983 118.957 48.7719 121.051 48.7719C123.488 48.7719 124.501 46.7319 124.501 43.7127V34.8047H129.142V52.3487H124.501V49.8599C123.57 51.6823 121.955 52.6887 119.669 52.6887C115.671 52.6887 113.193 49.8599 113.193 45.3175Z"
          fill="#fff" data-v-4641417b="">
          </path>
          <path d="M134.262 47.6976V38.5176H131.757V34.8048H134.262V31.4864L138.793 28.9568V34.7912H142.27V38.504H138.752V47.2352C138.752 48.092 139.163 48.4592 140.025 48.5H142.079V52.3352H138.492C135.083 52.1584 134.344 50.608 134.262 47.6976Z"
          fill="#fff" data-v-4641417b="">
          </path>
          <path d="M145.269 27.7327H150.101V32.2343H145.269V27.7327ZM145.337 34.8047H150.019V52.3487H145.337V34.8047Z"
          fill="#fff" data-v-4641417b="">
          </path>
          <path d="M153.017 43.6175C153.017 38.2591 156.754 34.4783 162.107 34.4783C167.418 34.4783 171.169 38.2727 171.169 43.6175C171.169 48.8943 167.35 52.6887 161.997 52.6887C156.685 52.6887 153.017 48.9623 153.017 43.6175ZM166.446 43.7263V43.5767C166.446 40.2311 164.803 38.2183 162.107 38.2183C159.369 38.2183 157.726 40.2311 157.726 43.5767V43.7263C157.726 47.0039 159.327 48.9351 162.024 48.9351C164.762 48.9351 166.446 46.9903 166.446 43.7263Z"
          fill="#fff" data-v-4641417b="">
          </path>
          <path d="M174.126 34.8046H178.767V37.6606C179.698 35.6206 181.423 34.4238 183.928 34.4238C187.788 34.4238 190.061 36.9942 190.061 41.8222V52.3486H185.42V42.0942C185.42 39.6462 184.489 38.3814 182.312 38.3814C180.108 38.3814 178.753 40.163 178.753 43.4406V52.3622H174.112L174.126 34.8046Z"
          fill="#fff" data-v-4641417b="">
          </path>
          <path d="M37.2297 29.9358C32.9997 24.4006 25.3198 22.8366 18.9404 26.223C21.4319 31.7854 23.2937 38.327 35.5733 38.7078C37.0107 38.7486 38.5987 38.7078 40.3373 38.5718C40.0909 35.0766 38.9409 32.1798 37.2297 29.9358Z"
          fill="#fff" data-v-4641417b="">
          </path>
          <path d="M34.971 41.3191C27.5786 41.6863 24.1151 44.3519 21.9521 47.6567C20.679 49.6015 19.8576 51.7503 18.9404 53.7767C27.8934 58.5231 39.4611 53.5183 40.3373 41.4143C38.3523 41.2647 36.559 41.2375 34.971 41.3191Z"
          fill="#fff" data-v-4641417b="">
          </path>
        </svg>
        <svg data-v-4641417b="" xmlns="http://www.w3.org/2000/svg" width="210"
        height="80" viewBox="0 0 210 80" fill="none">
          <path d="M0 10C0 4.47715 4.47715 0 10 0H200C205.523 0 210 4.47715 210 10V70C210 75.5229 205.523 80 200 80H10C4.47715 80 0 75.5229 0 70V10Z"
          fill="#2b3270" data-v-4641417b="">
          </path>
          <g filter="url(#filter0_d_84_6495)" data-v-4641417b="">
            <path d="M72.0619 51.9586V27.022C72.0619 26.3785 71.4242 26.2176 70.8505 26.2176C70.1774 26.2176 68.8313 26.2176 68.8313 25.011C68.8314 23.4022 69.639 23.4022 70.0428 23.4022H84.5805C84.9843 23.4022 85.3882 23.8044 85.3881 25.011C85.3881 25.8154 84.5805 26.2176 84.1767 26.2176C82.9652 26.2176 82.9652 27.022 82.9652 27.022V49.5454C82.9652 51.9586 81.3499 53.5674 78.9269 55.1762C75.8621 57.2112 72.1965 57.1872 70.4466 56.785V53.5674C70.4466 53.5674 72.0619 52.763 72.0619 51.9586Z"
            fill="url(#paint0_linear_84_6495)" data-v-4641417b="">
            </path>
            <path d="M61.1587 53.1652C62.774 55.5784 66.8122 56.785 68.4275 56.785V53.9696C66.9468 54.1037 66.5501 53.2522 66.8122 53.1652C70.4466 51.9586 70.8504 49.1432 70.4466 47.5344C70.1528 46.3638 68.0238 42.3057 63.5817 43.9145C59.4941 45.3949 59.2318 50.2864 61.1587 53.1652Z"
            fill="url(#paint1_linear_84_6495)" data-v-4641417b="">
            </path>
            <path d="M87.8111 24.6088C87.8111 23.7203 88.5343 23 89.4264 23H103.156C104.048 23 104.772 23.7203 104.772 24.6088V24.8211C104.772 25.4305 104.426 25.9876 103.879 26.2601L102.349 27.022V52.763L103.667 53.2007C104.327 53.4197 104.772 54.0345 104.772 54.727V55.1762C104.772 56.0647 104.048 56.785 103.156 56.785H89.4264C88.5343 56.785 87.8111 56.0647 87.8111 55.1762V54.727C87.8111 54.0345 88.256 53.4197 88.9156 53.2007L90.234 52.763V27.022L88.704 26.2601C88.1567 25.9876 87.8111 25.4305 87.8111 24.8211V24.6088Z"
            fill="url(#paint2_linear_84_6495)" data-v-4641417b="">
            </path>
            <path d="M133.039 24.6088C133.039 23.7203 133.763 23 134.655 23H148.385C149.277 23 150 23.7203 150 24.6088V24.8211C150 25.4305 149.654 25.9876 149.107 26.2601L147.577 27.022V52.763L148.896 53.2007C149.555 53.4197 150 54.0345 150 54.727V55.1762C150 56.0647 149.277 56.785 148.385 56.785H134.655C133.763 56.785 133.039 56.0647 133.039 55.1762V54.727C133.039 54.0345 133.484 53.4197 134.144 53.2007L135.462 52.763V27.022L133.932 26.2601C133.385 25.9876 133.039 25.4305 133.039 24.8211V24.6088Z"
            fill="url(#paint3_linear_84_6495)" data-v-4641417b="">
            </path>
            <path d="M107.195 24.6088C107.195 23.7203 107.918 23 108.81 23H122.54C123.432 23 124.155 23.7203 124.155 24.6088V24.8211C124.155 25.4305 123.81 25.9876 123.262 26.2601L121.732 27.022V56.785H108.81C107.918 56.785 107.195 56.0647 107.195 55.1762V54.727C107.195 54.0345 107.64 53.4197 108.299 53.2007L109.618 52.763V27.022L108.088 26.2601C107.54 25.9876 107.195 25.4305 107.195 24.8211V24.6088Z"
            fill="url(#paint4_linear_84_6495)" data-v-4641417b="">
            </path>
            <path d="M126.982 49.9476C128.3 48.1094 129.102 46.0997 129.5 44.9261C129.7 44.3369 130.247 43.9145 130.871 43.9145C131.623 43.9145 132.232 44.5213 132.232 45.2697V56.785H122.54V53.5674C122.54 53.5674 124.963 52.763 126.982 49.9476Z"
            fill="url(#paint5_linear_84_6495)" data-v-4641417b="">
            </path>
            <path d="M102.126 26.5745L101.849 26.7125V27.022V52.763V53.1238L102.191 53.2375L103.51 53.6752C103.966 53.8267 104.272 54.251 104.272 54.727V55.1762C104.272 55.7867 103.774 56.285 103.156 56.285H89.4264C88.8085 56.285 88.3111 55.7867 88.3111 55.1762V54.727C88.3111 54.251 88.617 53.8267 89.0731 53.6752L90.3916 53.2375L90.734 53.1238V52.763V27.022V26.7125L90.4569 26.5745L88.9269 25.8125C88.5487 25.6242 88.3111 25.24 88.3111 24.8211V24.6088C88.3111 23.9983 88.8085 23.5 89.4264 23.5H103.156C103.774 23.5 104.272 23.9983 104.272 24.6088V24.8211C104.272 25.24 104.034 25.6242 103.656 25.8125L102.126 26.5745ZM147.354 26.5745L147.077 26.7125V27.022V52.763V53.1238L147.42 53.2375L148.738 53.6752C149.194 53.8267 149.5 54.251 149.5 54.727V55.1762C149.5 55.7867 149.003 56.285 148.385 56.285H134.655C134.037 56.285 133.539 55.7867 133.539 55.1762V54.727C133.539 54.251 133.845 53.8267 134.301 53.6752L135.62 53.2375L135.962 53.1238V52.763V27.022V26.7125L135.685 26.5745L134.155 25.8125C133.777 25.6242 133.539 25.24 133.539 24.8211V24.6088C133.539 23.9983 134.037 23.5 134.655 23.5H148.385C149.003 23.5 149.5 23.9983 149.5 24.6088V24.8211C149.5 25.24 149.262 25.6242 148.884 25.8125L147.354 26.5745ZM121.509 26.5745L121.232 26.7125V27.022V56.285H108.81C108.192 56.285 107.695 55.7867 107.695 55.1762V54.727C107.695 54.251 108.001 53.8267 108.457 53.6752L109.775 53.2375L110.118 53.1238V52.763V27.022V26.7125L109.84 26.5745L108.31 25.8125C107.932 25.6242 107.695 25.24 107.695 24.8211V24.6088C107.695 23.9983 108.192 23.5 108.81 23.5H122.54C123.158 23.5 123.655 23.9983 123.655 24.6088V24.8211C123.655 25.24 123.418 25.6242 123.039 25.8125L121.509 26.5745ZM72.5619 51.9586V27.022C72.5619 26.7746 72.4993 26.547 72.3723 26.352C72.2472 26.1599 72.0773 26.0264 71.9027 25.9353C71.5665 25.7598 71.1687 25.7176 70.8505 25.7176C70.498 25.7176 70.0823 25.7127 69.7573 25.5961C69.6038 25.5411 69.5035 25.4718 69.4415 25.3949C69.3851 25.3249 69.3313 25.2133 69.3313 25.011C69.3314 24.2762 69.5162 24.0589 69.5972 23.9943C69.6966 23.9152 69.8269 23.9022 70.0428 23.9022H84.5805C84.5809 23.9022 84.5814 23.9022 84.5819 23.9022C84.5934 23.9018 84.64 23.9001 84.7075 24.0122C84.7925 24.1534 84.8882 24.4516 84.8881 25.011C84.8881 25.2265 84.7854 25.3949 84.6222 25.5249C84.4433 25.6675 84.2475 25.7176 84.1767 25.7176C83.4497 25.7176 82.9827 25.9664 82.7172 26.3191C82.593 26.484 82.5306 26.6492 82.4991 26.7746C82.4833 26.8376 82.4749 26.8921 82.4704 26.934C82.4682 26.955 82.4668 26.9732 82.4661 26.9879L82.4654 27.0076L82.4652 27.0155L82.4652 27.0189L82.4652 27.0205L82.4652 27.0213C82.4652 27.0217 82.4652 27.022 82.8911 27.022H82.4652V49.5454C82.4652 51.6831 81.0578 53.1611 78.6504 54.7597C75.9403 56.5592 72.719 56.6707 70.9466 56.3741V53.8635C70.9478 53.8629 70.949 53.8622 70.9502 53.8615C71.1124 53.7673 71.3316 53.631 71.5535 53.4652C71.7725 53.3016 72.0111 53.0968 72.1993 52.8624C72.382 52.6351 72.5619 52.3244 72.5619 51.9586ZM66.6486 54.0364C66.9385 54.2749 67.3659 54.4461 67.9275 54.4783V56.2516C67.1707 56.1618 66.0892 55.8897 64.9894 55.4202C63.6151 54.8336 62.3041 53.9775 61.5742 52.8871C60.683 51.5556 60.2951 49.7462 60.606 48.1087C60.9133 46.4906 61.8958 45.0569 63.7519 44.3847C65.7857 43.6481 67.2423 44.2064 68.2451 45.0625C69.2816 45.9473 69.8371 47.1597 69.9617 47.6561C70.1398 48.3659 70.1396 49.3501 69.6926 50.2849C69.2528 51.2048 68.3576 52.1253 66.6546 52.6907C66.4719 52.7513 66.3372 52.8895 66.2754 53.0601C66.2196 53.2144 66.2333 53.3629 66.262 53.4727C66.3194 53.693 66.4675 53.8874 66.6486 54.0364ZM127.388 50.239C128.747 48.3445 129.568 46.2833 129.974 45.0866C130.11 44.6847 130.477 44.4145 130.871 44.4145C131.348 44.4145 131.732 44.7993 131.732 45.2697V56.285H123.04V53.9056C123.077 53.8893 123.117 53.8713 123.16 53.8517C123.437 53.7236 123.824 53.5241 124.275 53.2336C125.176 52.6524 126.336 51.706 127.388 50.239Z"
            stroke="url(#paint6_linear_84_6495)" data-v-4641417b="">
            </path>
          </g>
          <defs data-v-4641417b="">
            <filter id="filter0_d_84_6495" x="60" y="23" width="90" height="35" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB" data-v-4641417b="">
              <feFlood flood-opacity="0" result="BackgroundImageFix" data-v-4641417b="">
              </feFlood>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha" data-v-4641417b="">
              </feColorMatrix>
              <feOffset dy="1" data-v-4641417b="">
              </feOffset>
              <feComposite in2="hardAlpha" operator="out" data-v-4641417b="">
              </feComposite>
              <feColorMatrix type="matrix" values="0 0 0 0 0.482353 0 0 0 0 0.239216 0 0 0 0 0 0 0 0 1 0"
              data-v-4641417b="">
              </feColorMatrix>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_84_6495"
              data-v-4641417b="">
              </feBlend>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_84_6495"
              result="shape" data-v-4641417b="">
              </feBlend>
            </filter>
            <linearGradient id="paint0_linear_84_6495" x1="105" y1="23" x2="105" y2="57"
            gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFE03A" data-v-4641417b="">
              </stop>
              <stop offset="0.43817" stop-color="white" data-v-4641417b="">
              </stop>
              <stop offset="0.511377" stop-color="#FBB21D" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#DB9506" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint1_linear_84_6495" x1="105" y1="23" x2="105" y2="57"
            gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFE03A" data-v-4641417b="">
              </stop>
              <stop offset="0.43817" stop-color="white" data-v-4641417b="">
              </stop>
              <stop offset="0.511377" stop-color="#FBB21D" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#DB9506" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint2_linear_84_6495" x1="105" y1="23" x2="105" y2="57"
            gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFE03A" data-v-4641417b="">
              </stop>
              <stop offset="0.43817" stop-color="white" data-v-4641417b="">
              </stop>
              <stop offset="0.511377" stop-color="#FBB21D" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#DB9506" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint3_linear_84_6495" x1="105" y1="23" x2="105" y2="57"
            gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFE03A" data-v-4641417b="">
              </stop>
              <stop offset="0.43817" stop-color="white" data-v-4641417b="">
              </stop>
              <stop offset="0.511377" stop-color="#FBB21D" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#DB9506" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint4_linear_84_6495" x1="105" y1="23" x2="105" y2="57"
            gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFE03A" data-v-4641417b="">
              </stop>
              <stop offset="0.43817" stop-color="white" data-v-4641417b="">
              </stop>
              <stop offset="0.511377" stop-color="#FBB21D" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#DB9506" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint5_linear_84_6495" x1="105" y1="23" x2="105" y2="57"
            gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFE03A" data-v-4641417b="">
              </stop>
              <stop offset="0.43817" stop-color="white" data-v-4641417b="">
              </stop>
              <stop offset="0.511377" stop-color="#FBB21D" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#DB9506" data-v-4641417b="">
              </stop>
            </linearGradient>
            <linearGradient id="paint6_linear_84_6495" x1="105" y1="23" x2="105" y2="57"
            gradientUnits="userSpaceOnUse" data-v-4641417b="">
              <stop stop-color="#FFFF7D" data-v-4641417b="">
              </stop>
              <stop offset="1" stop-color="#FFC500" data-v-4641417b="">
              </stop>
            </linearGradient>
          </defs>
        </svg>
        <svg data-v-4641417b="" xmlns="http://www.w3.org/2000/svg" width="210"
        height="80" viewBox="0 0 210 80" fill="none">
          <path d="M0 10C0 4.47715 4.47715 0 10 0H200C205.523 0 210 4.47715 210 10V70C210 75.5229 205.523 80 200 80H10C4.47715 80 0 75.5229 0 70V10Z"
          fill="#2b3270" data-v-4641417b="">
          </path>
          <path d="M103.77 20.9054C104.064 19.3362 104.388 17.7716 104.638 16.1958C104.769 15.372 105.052 15.0024 105.994 15.0048C119.678 15.0379 133.363 15.0445 147.047 14.9998C148.332 14.9955 148.365 15.5404 148.194 16.4954C146.6 25.439 145.02 34.3853 143.433 43.3302C142.616 47.9394 141.731 52.5384 141.016 57.1635C140.825 58.3926 140.398 58.6458 139.244 58.6409C128.595 58.5968 117.945 58.614 107.295 58.6173C106.69 58.6177 106.084 58.6518 105.478 58.6704C102.916 59.5425 100.303 59.0963 97.7026 58.9697C97.4013 58.8726 97.155 58.7055 97.0105 58.4141C96.8318 56.4694 97.4713 54.627 97.752 52.7399C97.986 51.166 98.2675 49.5988 98.5121 48.0259C99.9477 40.1278 101.306 32.2161 102.707 24.312C102.915 23.1402 102.881 21.8723 103.77 20.9054Z"
          fill="#0091C3" data-v-4641417b="">
          </path>
          <path d="M103.77 20.9054C102.219 30.0018 100.721 39.1075 98.9046 48.1565C98.1326 47.8363 98.0202 47.061 97.764 46.4186C95.3124 40.2696 92.7706 34.1565 90.4274 27.9645C90.3104 27.6549 90.1692 27.3539 90.0618 27.0417C89.6875 25.9548 89.2357 26.0864 88.6325 26.8925C80.9302 37.1836 73.1949 47.4501 65.5016 57.7482C65.4303 57.8433 65.4164 57.947 65.485 58.1814C66.6435 58.191 67.8451 58.1887 69.0481 58.1728C69.9371 58.1608 70.4283 57.5771 70.8997 56.948C72.7851 54.4314 74.7024 51.9377 76.5451 49.3899C77.2936 48.3554 78.1776 47.885 79.4691 47.9006C83.4415 47.9487 87.4153 47.957 91.3874 47.8983C92.8886 47.8761 93.7677 48.4707 94.2271 49.8702C94.916 51.9678 95.7881 53.9981 96.6396 56.0331C96.9429 56.7577 97.0009 57.5095 97.1567 58.252C97.2714 58.3916 97.3858 58.5311 97.5005 58.6707C99.8374 60.0168 101.737 61.9244 103.817 63.5987C104.078 63.8082 104.206 64.1238 104.167 64.4788C90.1516 64.4944 76.1357 64.4934 62.1205 64.5494C60.6504 64.5554 61.0008 63.7094 61.1347 62.9421C62.3462 55.9986 63.5764 49.0585 64.8075 42.1186C65.9809 35.504 67.2001 28.8973 68.3036 22.271C68.4962 21.1145 68.9357 20.8768 69.9977 20.8802C81.2554 20.9136 92.5127 20.9034 103.77 20.9054Z"
          fill="#EA5902" data-v-4641417b="">
          </path>
          <path d="M104.168 64.4781C102.492 62.821 100.596 61.4272 98.7669 59.9521C98.3025 59.5775 97.921 59.1002 97.501 58.6699C100.16 58.6699 102.819 58.6699 105.478 58.6703C105.018 60.6011 105.224 62.6818 104.168 64.4781Z"
          fill="#C50110" data-v-4641417b="">
          </path>
          <path d="M131.304 42.7613C128.148 42.7613 125.306 42.7613 122.225 42.7613C122.498 41.1891 122.775 39.7651 122.983 38.3311C123.073 37.7043 123.457 37.69 123.918 37.69C128.225 37.6913 132.532 37.7215 136.838 37.6698C138.044 37.6552 137.653 38.3689 137.601 38.9612C137.056 45.2348 132.82 48.6487 127.779 51.268C124.039 53.2118 119.979 53.6643 115.881 52.4706C108.888 50.4344 105.323 43.5535 107.178 35.8493C109.323 26.9369 118.32 20.4237 127.442 21.1801C132.57 21.6054 137.117 25.2344 138.558 30.017C138.858 31.0141 138.923 31.7393 137.515 31.5073C137.246 31.4629 136.962 31.4761 136.689 31.505C134.696 31.7141 133.278 31.3227 131.921 29.4041C129.669 26.2182 126.137 25.6318 122.406 26.4281C116.944 27.5932 112.557 32.3476 111.846 37.8402C111.145 43.2565 115.172 47.9281 120.647 48.0079C124.963 48.0709 128.316 46.1497 131.304 42.7613Z"
          fill="#FEFEFE" data-v-4641417b="">
          </path>
          <path d="M97.1575 58.2513C95.9944 55.4059 94.7818 52.5791 93.6962 49.7045C93.3296 48.7339 92.894 48.3531 91.8174 48.3703C87.6222 48.4386 83.424 48.4422 79.2292 48.368C78.1433 48.3488 77.5227 48.7432 76.9224 49.5726C75.0144 52.2095 72.9941 54.7662 71.1143 57.4226C70.4636 58.3422 69.7718 58.7144 68.6633 58.6368C67.3457 58.5444 66.0165 58.615 64.3213 58.615C72.7856 47.3338 81.0951 36.2584 89.617 24.8997C92.773 32.8014 95.8392 40.4785 98.9054 48.1558C98.507 51.5532 97.8636 54.9077 97.1575 58.2513Z"
          fill="#FEFEFE" data-v-4641417b="">
          </path>
          <path d="M91.1297 43.3157C87.923 43.3157 84.9142 43.3157 81.6299 43.3157C83.747 40.4892 85.7376 37.8314 87.8584 35.0002C88.9811 37.8536 90.0375 40.5389 91.1297 43.3157Z"
          fill="#EA5902" data-v-4641417b="">
          </path>
        </svg>
      </div>
      <p data-v-4641417b="" class="terms-rule">
        <svg data-v-4641417b="" width="11" height="11" viewBox="0 0 11 11" fill="none"
        xmlns="http://www.w3.org/2000/svg">
          <rect data-v-4641417b="" x="5.65625" width="8" height="8" rx="1" transform="rotate(45 5.65625 0)"
          fill="#5068A7">
          </rect>
        </svg>
        <span data-v-4641417b="">
          The WinCash platform advocates fairness, justice, and openness. We mainly
          operate fair lottery, blockchain games, live casinos, and slot machine
          games.
        </span>
      </p>
      <p data-v-4641417b="" class="terms-rule">
        <svg data-v-4641417b="" width="11" height="11" viewBox="0 0 11 11" fill="none"
        xmlns="http://www.w3.org/2000/svg">
          <rect data-v-4641417b="" x="5.65625" width="8" height="8" rx="1" transform="rotate(45 5.65625 0)"
          fill="#5068A7">
          </rect>
        </svg>
        <span data-v-4641417b="">
          WinCash works with more than 10'000 online live game dealers and slot
          games, all of which are verified fair games.
        </span>
      </p>
      <p data-v-4641417b="" class="terms-rule">
        <svg data-v-4641417b="" width="11" height="11" viewBox="0 0 11 11" fill="none"
        xmlns="http://www.w3.org/2000/svg">
          <rect data-v-4641417b="" x="5.65625" width="8" height="8" rx="1" transform="rotate(45 5.65625 0)"
          fill="#5068A7">
          </rect>
        </svg>
        <span data-v-4641417b="">
          WinCash supports fast deposit and withdrawal, and looks forward to your
          visit.
        </span>
      </p>
      <p data-v-4641417b="" class="terms-tips">
        Gambling can be addictive, please play rationally.
      </p>
      <p data-v-4641417b="" class="terms-tips">
        WinCash only accepts customers above the age of 18.
      </p>
    </div>










    <div data-v-0341cbde="" class="settingPanel__container panel-daman">
      <div data-v-0341cbde="" class="settingPanel__container-items">
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/languageIcon-1de5d51f.png">
            <span data-v-0341cbde="">
              Language
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow"
            style="color: #F6F6F6;">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/notificationCenter-c208b6dc.png">
            <span data-v-0341cbde="">
              Notification
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow"
            style="color: #F6F6F6;">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/serviceCenter-be03350d.png">
            <span data-v-0341cbde="">
              24/7 Customer service
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow"
            style="color: #F6F6F6;">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/guide-8b182d39.png">
            <span data-v-0341cbde="">
              Beginner's Guide
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow"
            style="color: #F6F6F6;">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/about-1c7393f9.png">
            <span data-v-0341cbde="">
              About us
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow"
            style="color: #F6F6F6;">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title" onclick="location.href='/wincas.apk'">
            <img data-v-0341cbde="" src="/assets/png/down-8ad7989c.png">
            <span data-v-0341cbde="">
              Download APP
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow"
            style="color: #F6F6F6;">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
      </div>
    </div>

















    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
  </div>
  <div data-v-app="">
  </div>
  <div class="van-overlay" style="z-index: 2001; display: none;">
    <!---->
  </div>
  <div role="dialog" tabindex="0" class="van-popup van-popup--center van-dialog gameDialog"
  aria-labelledby="Tips" style="z-index: 2001; display: none;">
    <div class="van-dialog__header">
      Tips
    </div>
    <div class="van-dialog__content">
      <div class="van-dialog__message van-dialog__message--has-title">
        Are you sure you want to join the game?
      </div>
    </div>
    <div class="van-hairline--top van-dialog__footer">
      <button type="button" class="van-button van-button--default van-button--large van-dialog__cancel">
        <div class="van-button__content">
          <!---->
          <span class="van-button__text">
            Cancel
          </span>
          <!---->
        </div>
      </button>
      <button type="button" class="van-button van-button--default van-button--large van-dialog__confirm van-hairline--left">
        <div class="van-button__content">
          <!---->
          <span class="van-button__text">
            Confirm
          </span>
          <!---->
        </div>
      </button>
    </div>
    <!---->
  </div>


  <%- include('../nav') -%>
  <script>
    // Get the tab list element
    const tabList = document.querySelector('.fun-tabs__tab-list');
  
    // Define the current position of the tab list
    let currentPosition = 0;
  
    // Function to slide the tab list to the left
    function slideLeft() {
      currentPosition += 100; // Adjust the value according to your design
      tabList.style.transform = `translateX(${currentPosition}px)`;
    }
  
    // Function to slide the tab list to the right
    function slideRight() {
      currentPosition -= 100; // Adjust the value according to your design
      tabList.style.transform = `translateX(${currentPosition}px)`;
    }
  </script>
</body>

</html>