<div data-v-a9660e98="" class="box">
    <div data-v-a9660e98="" class="mark-box c-row c-row-middle-center" style="display: none">
        <span data-v-a9660e98="" class="item m-r-20">3</span><span data-v-a9660e98="" class="item m-l-20">6</span>
    </div>
    <div data-v-a9660e98="" class="con-box">
        <div data-v-a9660e98="" class="color-box c-row c-row-between">
            <button data-v-a9660e98="" type="button" data-join="x" class="btn green">Green</button>
            <button data-v-a9660e98="" type="button" data-join="t" class="btn violet">White</button>
            <button data-v-a9660e98="" type="button" data-join="d" class="btn red">Red</button>
        </div>
    </div>
    <div data-v-a9660e98="" class="number-box action m-t-10 c-row c-row-between c-flex-warp">
        <button data-v-a9660e98="" type="button" class="item action c-row c-row-middle-center m-b-10" style="background-image: url(/images/n0-30bd92d1.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">0</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/images/n1-dfccbff5.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">1</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/images/n2-c2913607.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">2</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/images/n3-f92c313f.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">3</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/images/n4-cb84933b.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">4</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/images/n5-49d0e9c5.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">5</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/images/n6-a56e0b9a.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">6</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/images/n7-5961a17f.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">7</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/images/n8-d4d951a4.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">8</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/images/n9-a20f6f42.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: contain;position: relative;"       >
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">9</span>
            </div>
        </button>
    </div>
    <div data-v-a9660e98="" class="c-row c-row-between random-box">
        <button data-v-a9660e98="" class="random">Random</button>
        <div data-v-a9660e98="" class="c-row">
            <div data-x="1" data-v-a9660e98="" class="item active"
                style="background: #B1835A; color: #ffffff">
                X1
            </div>
            <div data-x="5" data-v-a9660e98="" class="item"
                style="background: #F7F8FF; color: #768096">
                X5
            </div>
            <div data-x="10" data-v-a9660e98="" class="item"
                style="background: #F7F8FF; color: #768096">
                X10
            </div>
            <div data-x="20" data-v-a9660e98="" class="item"
                style="background: #F7F8FF; color: #768096 !important">
                X20
            </div>
            <div data-x="50" data-v-a9660e98="" class="item"
                style="background: #F7F8FF; color: #768096">
                X50
            </div>
            <div data-x="100" data-v-a9660e98="" class="item"
                style="background: #F7F8FF; color: #768096">
                X100
            </div>
        </div>
    </div>
    <div data-v-a9660e98="" class="btn-box c-row">
        <button data-v-a9660e98="" data-join="l" class="item yellow">Big</button>
        <button data-v-a9660e98="" data-join="n" class="item green">Small</button>
    </div>
</div>


<style>
    .game-betting .content .box .color-box .green[data-v-a9660e98] {
    background-color: #006931;
}

.game-betting .content .box .color-box .red[data-v-a9660e98] {
    background-color: #F15B20;
    }

    .game-betting .content .box .color-box .violet[data-v-a9660e98] {
    background-color: #ffffff;
    color: black;
    }
</style>