<div data-v-a9660e98="" class="box c-row">
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win'">
            <div data-v-a9660e98="" class="van-image" style="width: 50px; height: 50px">
                <img src="/png/icon_clock-gerrn.png" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image"
                style="width: 50px; height: 50px; display: none">
                <img src="/png/icon_clock-gerrn.png" class="van-image__img" />
            </div>
            
        </div>
        <div data-v-a9660e98="" class="txt c-tc">Win Go<br>1Min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/3'">
            <div data-v-a9660e98="" class="van-image"
                style="width: 50px; height: 50px; display: none">
                <img src="/png/icon_clock-gerrn.png" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="width: 50px; height: 50px">
                <img src="/png/icon_clock-gerrn.png" class="van-image__img" />
            </div>
            
        </div>
        <div data-v-a9660e98="" class="txt c-tc">Win Go<br>3Min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/5'">
            <div data-v-a9660e98="" class="van-image"
                style="width: 50px; height: 50px; display: none">
                <img src="/png/icon_clock-gerrn.png" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="width: 50px; height: 50px">
                <img src="/png/icon_clock-gerrn.png" class="van-image__img" />
            </div>
            
        </div>
        <div data-v-a9660e98="" class="txt c-tc">Win Go<br>5Min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/10'">
            <div data-v-a9660e98="" class="van-image"
                style="width: 50px; height: 50px; display: none">
                <img src="/png/icon_clock-gerrn.png class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="width: 50px; height: 50px">
                <img src="/png/icon_clock-gerrn.png" class="van-image__img" />
            </div>
            
        </div>
        <div data-v-a9660e98="" class="txt c-tc">Win Go<br>10Min</div>
    </div>
</div> 

<style>
     .game-betting .tab .box .item .txt[data-v-a9660e98] {
    color: #4a6aa2;
    font-size: .29rem !important;
    }

    .game-betting .tab .box .item[data-v-a9660e98] {
    flex: 0 0 25%;
    padding: .15rem .13333rem .15667rem !important;
    border-radius: .3rem;
    position: relative;
    }

    .game-betting .tab .box .item .img[data-v-a9660e98] {
    position: relative;
    display: contents;
    }

    .game-betting .tab .box .item.c-tc.action {
    background: -webkit-linear-gradient(180deg, #D9AD82 0%, #B1835A 100%) !important;
    background: linear-gradient(180deg, #D9AD82 0%, #B1835A 100%) !important;
    
    border-radius: .26667rem;
    }

    .game-betting .tab .box .item[data-v-a9660e98] {
    background: #00000000 !important;
    
    box-shadow: 0 -.05333rem .16rem #00000000 inset !important;
    border-radius: .26667rem;
}

.van-notice-bar {
    margin: 0rem !important;
    width: auto !important;
}
</style>



